In [301]:
# import libraries
import pandas as pd     # library for data analysis and manipulation tools
import numpy as np      # library for scientific computing and data manipulation
import pyodbc           # library for connecting to SQL Server
import lasio           # library for reading and writing Log ASCII Standard (LAS) files
import re              # library for regular expression matching operations
import os              # library for interacting with operating system

In [302]:
# Establish a connection to the Access database
conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\brand\OneDrive - Universidad Central del Ecuador\Tesis Información\AC_SACHA_AGO_2023_U_T.mdb;')

# Define your SQL queries with just columns we need
sql_query_maestra = 'SELECT WELL_LEGAL_NAME, WELLBORE_ID, COMPLETION_COORDINATE_X, COMPLETION_COORDINATE_Y, COMPLETION_LEGAL_NAME, RSVR_NAME, FIELD, CURR_STATUS FROM MAESTRA'
# sql_query_sc_all = 'SELECT * FROM SC'
sql_query_sc = 'SELECT COMPLETION_LEGAL_NAME, FECHA_COMPLETACION, RESERVORIO FROM SC'
sql_mensual = 'SELECT * FROM MENSUAL'
sql_diaria = 'SELECT * FROM DIARIA'
sql_iny_diaria = 'SELECT * FROM INY_DIARIA'
sql_production_test = 'SELECT * FROM PRUEBA_POZO'

In [303]:
# Execute the queries and fetch the data into a DataFrames
df_maestra = pd.read_sql(sql_query_maestra, conn)
df_sc = pd.read_sql(sql_query_sc, conn)
df_mensual = pd.read_sql(sql_mensual, conn)
df_diaria = pd.read_sql(sql_diaria, conn)
df_iny_diaria = pd.read_sql(sql_iny_diaria, conn)
df_production_test = pd.read_sql(sql_production_test, conn)

# Close the database connection
conn.close()

C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1705036465.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_maestra = pd.read_sql(sql_query_maestra, conn)
C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1705036465.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sc = pd.read_sql(sql_query_sc, conn)
C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1705036465.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_mensual = pd.read_sql(sql_mensual, conn)
C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1705036465.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_diaria = pd.read_sql(sql_diaria, conn)

C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1705036465.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_iny_diaria = pd.read_sql(sql_iny_diaria, conn)
C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1705036465.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_production_test = pd.read_sql(sql_production_test, conn)

# MAESTRA

In [304]:
# Assign the name of the well to the column 'WELL_LEGAL_NAME' to WELLBORE_ID
df_maestra['POZO_ID'] = df_maestra['WELL_LEGAL_NAME']
df_maestra['WELLBORE_ID'] = df_maestra['COMPLETION_LEGAL_NAME']

# Apply just where WELLBORE_ID to replace('-', '')
df_maestra['WELLBORE_ID'] = df_maestra['WELLBORE_ID'].str.replace('-', '')
df_maestra['POZO_ID'] = df_maestra['POZO_ID'].str.replace('-', '')

df_maestra['WELLBORE_ID'] = df_maestra['WELLBORE_ID'].str.replace('SCH', 'S-')
df_maestra['POZO_ID'] = df_maestra['POZO_ID'].str.replace('SCH', 'S-')

df_maestra['WELLBORE_ID'] = df_maestra['WELLBORE_ID'].replace(['-00', '-0'], '-', regex=True)
df_maestra['POZO_ID'] = df_maestra['POZO_ID'].replace(['-00', '-0'], '-', regex=True)

df_maestra.head(5)

,WELL_LEGAL_NAME,WELLBORE_ID,COMPLETION_COORDINATE_X,COMPLETION_COORDINATE_Y,COMPLETION_LEGAL_NAME,RSVR_NAME,FIELD,CURR_STATUS,POZO_ID
0,SCH-002B,S-2BTI,289935.8200,9.955795e+06,SCH-002BTI,LOWER T,SCHS,Cerrado,S-2B
1,SCH-002B,S-2BUI,289935.8200,9.955795e+06,SCH-002BUI,LOWER U,SCHS,Abandonado,S-2B
2,SCH-002,S-2TI,289933.0700,9.955781e+06,SCH-002TI,LOWER T,SCHS,Abandonado,S-2
3,SCH-002,S-2UI,289933.0700,9.955781e+06,SCH-002UI,LOWER U,SCHS,Abandonado,S-2
4,SCH-003,S-3TI,295091.5183,9.968342e+06,SCH-003TI,LOWER T,SCHN1,Cerrado,S-3

In [305]:
replace_values = {'LOWER T': 'TI', 'LOWER U': 'UI', 'TIYUYACU': 'TY', 'UPPER T': 'TI', 'UPPER U': 'UI'} 
df_maestra['RSVR_NAME'] = df_maestra['RSVR_NAME'].replace(replace_values)

df_maestra.head()

,WELL_LEGAL_NAME,WELLBORE_ID,COMPLETION_COORDINATE_X,COMPLETION_COORDINATE_Y,COMPLETION_LEGAL_NAME,RSVR_NAME,FIELD,CURR_STATUS,POZO_ID
0,SCH-002B,S-2BTI,289935.8200,9.955795e+06,SCH-002BTI,TI,SCHS,Cerrado,S-2B
1,SCH-002B,S-2BUI,289935.8200,9.955795e+06,SCH-002BUI,UI,SCHS,Abandonado,S-2B
2,SCH-002,S-2TI,289933.0700,9.955781e+06,SCH-002TI,TI,SCHS,Abandonado,S-2
3,SCH-002,S-2UI,289933.0700,9.955781e+06,SCH-002UI,UI,SCHS,Abandonado,S-2
4,SCH-003,S-3TI,295091.5183,9.968342e+06,SCH-003TI,TI,SCHN1,Cerrado,S-3

# POZOS

In [306]:
def read_survey_KB(file):
    # Initialize variables to store the well name and KB value
    well_name = None
    KB_value = None
    
    # Open the file and extract the well name and KB value
    with open(file, 'r') as f:
        for line in f:
            if "WELL NAME:" in line:
                well_name = line.split("WELL NAME:")[1].strip()
            elif "WELL OFFSET (from MSL):" in line:
                # Split the line by space and take the first element to get only the numeric value
                KB_value = line.split("WELL OFFSET (from MSL):")[1].strip().split(' ')[0]
            if well_name and KB_value:
                break

    return well_name, KB_value

In [307]:
# Define the path to the directory containing survey information
path_surveys = r'C:\Users\brand\OneDrive - Universidad Central del Ecuador\Documentos\Maestría EOR\Tesis EOR\Info EPPEC\4. Información Surveys'

# List the files in the directory
files = os.listdir(path_surveys)

print(files)

['S-1.las', 'S-10.las', 'S-100.las', 'S-101.las', 'S-102.las', 'S-103.las', 'S-104.las', 'S-105.las', 'S-106.las', 'S-107.las', 'S-108.las', 'S-109.las', 'S-11.las', 'S-110.las', 'S-111.las', 'S-112.las', 'S-113.las', 'S-114.las', 'S-115.las', 'S-116.las', 'S-117.las', 'S-118.las', 'S-119.las', 'S-12.las', 'S-120.las', 'S-121.las', 'S-122.las', 'S-123.las', 'S-124.las', 'S-125.las', 'S-126.las', 'S-127.las', 'S-128.las', 'S-129.las', 'S-13.las', 'S-130.las', 'S-131.las', 'S-132.las', 'S-133.las', 'S-134.las', 'S-135.las', 'S-136.las', 'S-137.las', 'S-138.las', 'S-139.las', 'S-14.las', 'S-140D.las', 'S-141.las', 'S-142.las', 'S-143.las', 'S-144.las', 'S-145.las', 'S-146.las', 'S-147D.las', 'S-148.las', 'S-148ST.las', 'S-149.las', 'S-15.las', 'S-150D.las', 'S-151D.las', 'S-152D.las', 'S-153.las', 'S-154D.las', 'S-155D.las', 'S-156.las', 'S-157.las', 'S-158.las', 'S-159.las', 'S-16.las', 'S-160D.las', 'S-161.las', 'S-162.las', 'S-163D.las', 'S-164D.las', 'S-165D.las', 'S-166D.las', 'S-167.las', 'S-168H.las', 'S-169D.las', 'S-17.las', 'S-170.las', 'S-171H.las', 'S-172D.las', 'S-173H.las', 'S-174H.las', 'S-175H.las', 'S-176D.las', 'S-177D.las', 'S-178D.las', 'S-179H.las', 'S-18.las', 'S-180D.las', 'S-181D.las', 'S-182.las', 'S-183.las', 'S-184.las', 'S-185.las', 'S-186.las', 'S-187D.las', 'S-188D.las', 'S-189.las', 'S-19.las', 'S-190D.las', 'S-191.las', 'S-192.las', 'S-193.las', 'S-194D.las', 'S-195D.las', 'S-196D.las', 'S-197D.las', 'S-198.las', 'S-199D.las', 'S-2.las', 'S-20.las', 'S-200D.las', 'S-201D.las', 'S-203D.las', 'S-204D.las', 'S-205D.las', 'S-206D.las', 'S-207D.las', 'S-208D.las', 'S-209D.las', 'S-21.las', 'S-210D.las', 'S-211H.las', 'S-212D.las', 'S-213D.las', 'S-214D.las', 'S-215D.las', 'S-216D.las', 'S-217D.las', 'S-218D.las', 'S-22.las', 'S-220D.las', 'S-221D.las', 'S-222D.las', 'S-223D.las', 'S-224D.las', 'S-225D.las', 'S-226D.las', 'S-227D.las', 'S-228D.las', 'S-229D.las', 'S-23.las', 'S-230D.las', 'S-231D.las', 'S-232D.las', 'S-233D.las', 'S-234D.las', 'S-235D.las', 'S-236D.las', 'S-237D.las', 'S-238D.las', 'S-239D.las', 'S-24.las', 'S-240D.las', 'S-241D.las', 'S-242D.las', 'S-244D.las', 'S-245D.las', 'S-246D.las', 'S-247D.las', 'S-248D.las', 'S-249D.las', 'S-25.las', 'S-250D.las', 'S-251D.las', 'S-253D.las', 'S-254H_pil.las', 'S-254H_ST.las', 'S-255D.las', 'S-256D.las', 'S-257D.las', 'S-258D.las', 'S-259D.las', 'S-26.las', 'S-260D.las', 'S-261D.las', 'S-262D.las', 'S-263D.las', 'S-264D.las', 'S-265D.las', 'S-266D.las', 'S-267D.las', 'S-268D.las', 'S-27.las', 'S-270.las', 'S-271D.las', 'S-272D.las', 'S-273D.las', 'S-274D.las', 'S-275D.las', 'S-276D.las', 'S-277D.las', 'S-278D.las', 'S-28.las', 'S-280D.las', 'S-281D.las', 'S-282D.las', 'S-283D.las', 'S-285D.las', 'S-286D.las', 'S-287D.las', 'S-288D.las', 'S-29.las', 'S-290.las', 'S-291D.las', 'S-299.las', 'S-2B.las', 'S-3.las', 'S-30.las', 'S-300.las', 'S-301D.las', 'S-302D.las', 'S-303D.las', 'S-304D.las', 'S-305D.las', 'S-306D.las', 'S-307D.las', 'S-31.las', 'S-310.las', 'S-311D.las', 'S-312D.las', 'S-313D.las', 'S-314D.las', 'S-315D.las', 'S-316D.las', 'S-317H.las', 'S-318D.las', 'S-319D.las', 'S-32.las', 'S-320D.las', 'S-321D.las', 'S-322D.las', 'S-33.las', 'S-330D.las', 'S-331D.las', 'S-332D.las', 'S-333D.las', 'S-34.las', 'S-340D.las', 'S-341D.las', 'S-342D.las', 'S-35.las', 'S-350.las', 'S-351D.las', 'S-352D.las', 'S-353D.las', 'S-354D.las', 'S-355D.las', 'S-36.las', 'S-360.las', 'S-361D.las', 'S-362D.las', 'S-363D.las', 'S-363ST.las', 'S-364D.las', 'S-365D.las', 'S-366D.las', 'S-37.las', 'S-370D.las', 'S-371D.las', 'S-372D.las', 'S-373H.las', 'S-374D.las', 'S-375D.las', 'S-376D.las', 'S-377D.las', 'S-378D.las', 'S-38.las', 'S-380.las', 'S-381D.las', 'S-382D.las', 'S-383H.las', 'S-384D.las', 'S-385D.las', 'S-386D.las', 'S-387D-ST.las', 'S-387D.las', 'S-39.las', 'S-390.las', 'S-391D.las', 'S-392D.las', 'S-393D.las', 'S-394D.las', 'S-395D.las', 'S-396D.las', 'S-4.las', 'S-40.las', 'S-400.las', 'S-401D.las', 'S-402D.las', 'S-403D.las', 'S-404D.las', 'S-405D.las', 'S-406D.las', 'S-41.las', 'S-410.las', 'S-411D.las', 'S-412H.las', 'S-42.las', 'S-420D.las', 'S-421D.las', 'S-422D.las', 'S-423D.las', 'S-424D.las', 'S-425D.las', 'S-426D.las', 'S-427H.las', 'S-428D.las', 'S-43.las', 'S-430.las', 'S-431D.las', 'S-432D.las', 'S-433D.las', 'S-44.las', 'S-440.las', 'S-441D.las', 'S-442D.las', 'S-443D.las', 'S-444D.las', 'S-445D.las', 'S-446DST.las', 'S-447D.las', 'S-448D.las', 'S-45.las', 'S-450.las', 'S-451D.las', 'S-452D.las', 'S-453D.las', 'S-454D.las', 'S-455D.las', 'S-456D.las', 'S-457D.las', 'S-458D.las', 'S-45B.las', 'S-46.las', 'S-460.las', 'S-461D.las', 'S-47.las', 'S-470.las', 'S-471D.las', 'S-472D.las', 'S-473H.las', 'S-473H_ST1.las', 'S-474D.las', 'S-475H.las', 'S-476D.las', 'S-477H.las', 'S-478H.las', 'S-48.las', 'S-480D.las', 'S-481D.las', 'S-482D.las', 'S-483.las', 'S-484D.las', 'S-485H-ST1.las', 'S-485H-ST2.las', 'S-485H.las', 'S-486D.las', 'S-487D.las', 'S-488H.las', 'S-49.las', 'S-4B.las', 'S-5.las', 'S-50.las', 'S-51.las', 'S-52.las', 'S-53.las', 'S-54.las', 'S-55.las', 'S-56.las', 'S-57.las', 'S-58.las', 'S-59.las', 'S-6.las', 'S-60.las', 'S-61.las', 'S-62.las', 'S-63.las', 'S-64.las', 'S-65.las', 'S-65B.las', 'S-66.las', 'S-67.las', 'S-67B.las', 'S-68.las', 'S-69.las', 'S-7.las', 'S-70.las', 'S-71.las', 'S-72.las', 'S-73.las', 'S-74.las', 'S-75.las', 'S-76.las', 'S-77.las', 'S-78.las', 'S-79.las', 'S-8.las', 'S-80.las', 'S-81.las', 'S-82.las', 'S-83.las', 'S-84.las', 'S-85.las', 'S-86.las', 'S-87.las', 'S-88.las', 'S-89.las', 'S-9.las', 'S-90.las', 'S-91.las', 'S-92.las', 'S-93.las', 'S-94.las', 'S-95.las', 'S-96.las', 'S-97.las', 'S-98.las', 'S-99.las', 'S-PROF.las', 'S-W1.las']

In [308]:
# Create an empty list to store the DataFrames
KB_data = []

# Loop through the files and read each survey data file
for file in files:
    well_name, KB_value = read_survey_KB(os.path.join(path_surveys, file))
    # Create a DataFrame from the tuple and append it to the list
    KB_data.append(pd.DataFrame({'WELL NAME': [well_name], 'WELL OFFSET (from MSL)': [KB_value]}))

# Concatenate the DataFrames into a single DataFrame
df_KB = pd.concat(KB_data)

df_KB.head()

  WELL NAME WELL OFFSET (from MSL)
0       S-1           883.08400000
0      S-10           897.00006000
0     S-100           884.20000000
0     S-101           897.36000000
0     S-102           909.51000000

In [309]:
df_maestra.head()

,WELL_LEGAL_NAME,WELLBORE_ID,COMPLETION_COORDINATE_X,COMPLETION_COORDINATE_Y,COMPLETION_LEGAL_NAME,RSVR_NAME,FIELD,CURR_STATUS,POZO_ID
0,SCH-002B,S-2BTI,289935.8200,9.955795e+06,SCH-002BTI,TI,SCHS,Cerrado,S-2B
1,SCH-002B,S-2BUI,289935.8200,9.955795e+06,SCH-002BUI,UI,SCHS,Abandonado,S-2B
2,SCH-002,S-2TI,289933.0700,9.955781e+06,SCH-002TI,TI,SCHS,Abandonado,S-2
3,SCH-002,S-2UI,289933.0700,9.955781e+06,SCH-002UI,UI,SCHS,Abandonado,S-2
4,SCH-003,S-3TI,295091.5183,9.968342e+06,SCH-003TI,TI,SCHN1,Cerrado,S-3

In [310]:
# Marge the DataFrames
df_wells_merge = df_maestra.merge(df_sc, on='COMPLETION_LEGAL_NAME', how='left')

# change the name of the columns to POZO	X	Y   FCOMP   CAMPO
df_wells_merge.rename(columns={'WELLBORE_ID':'POZO', 'RSVR_NAME': 'CAPA','COMPLETION_COORDINATE_X':'X',
                        'COMPLETION_COORDINATE_Y':'Y', 'FECHA_COMPLETACION':'FCOMP', 'FIELD':'CAMPO'}, inplace=True)

#TODO: check if there are duplicated wells have to be removed
# df_wells_merge.drop_duplicates(subset=['POZO'], inplace=True)

# Add the UWI and FECHA_DE_PERFORACIÓN columns
df_wells_merge['UWI'] = df_wells_merge['POZO'].str.replace('-', 'CH')
df_wells_merge['FPERF'] = df_wells_merge['FCOMP'] - pd.DateOffset(days=30)

df_wells_merge = df_wells_merge[df_wells_merge['CAPA'] != 'TY']

df_wells = df_wells_merge[['UWI', 'POZO', 'POZO_ID', 'CAPA', 'X', 'Y', 'CAMPO', 'FPERF', 'FCOMP', 'CURR_STATUS']]

# merge with KB to have de Datum
df_wells =pd.merge(df_wells, df_KB, right_on='WELL NAME', left_on='POZO_ID', how='left')

# Create ALIAS column
df_wells['ALIAS'] = df_wells['POZO'].str.replace('S-', '')

# drop 'WELL NAME'and'POZO_ID'
df_wells.drop(['WELL NAME', 'POZO_ID'], axis=1, inplace=True)
df_wells.rename(columns={'WELL OFFSET (from MSL)': 'Datum'}, inplace=True)
df_wells['Datum'] = pd.to_numeric(df_wells['Datum'], errors='coerce')

df_wells.head().round(3)

,UWI,POZO,CAPA,X,Y,CAMPO,FPERF,FCOMP,CURR_STATUS,Datum,ALIAS
0,SCH2BTI,S-2BTI,TI,289935.820,9955795.320,SCHS,2016-05-25,2016-06-24,Cerrado,869.00,2BTI
1,SCH2BUI,S-2BUI,UI,289935.820,9955795.320,SCHS,2016-05-25,2016-06-24,Abandonado,869.00,2BUI
2,SCH2TI,S-2TI,TI,289933.070,9955780.980,SCHS,2016-05-25,2016-06-24,Abandonado,867.92,2TI
3,SCH2UI,S-2UI,UI,289933.070,9955780.980,SCHS,2016-05-25,2016-06-24,Abandonado,867.92,2UI
4,SCH3TI,S-3TI,TI,295091.518,9968341.653,SCHN1,2016-05-25,2016-06-24,Cerrado,964.51,3TI

In [311]:
wells_without_datum = df_wells[df_wells['Datum'].isnull()]['POZO'].tolist()
print(wells_without_datum)

['S-52BUI', 'S-66BUI', 'S-105IT', 'S-105IU', 'S-133R1UI', 'S-A001U', 'S-A001UI', 'S-A190TI', 'S-A190UI', 'S-A197UI', 'S-A225TI', 'S-A225UI', 'S-A409TI', 'S-A417UI', 'S-A418UI', 'S-AA300TI', 'S-AA301UI', 'S-AA302UI', 'S-AA303UI', 'S-AA304R1UI', 'S-AA304U', 'S-AA305UI', 'S-AB310UI', 'S-AB311TI', 'S-AB311UI', 'S-AB312TI', 'S-AB314UI', 'S-AB315IUI', 'S-AB315UI', 'S-AB316UI', 'S-AB317HUI', 'S-AB319UI', 'S-AB322TI', 'S-AB322UI', 'S-AB341TI', 'S-AB341UI', 'S-AC350TI', 'S-AC351TI', 'S-AC351UI', 'S-AC352R1UI', 'S-AC352UI', 'S-AC355TI', 'S-AC356UI', 'S-AC357TI', 'S-AC358UI', 'S-AC359TI', 'S-AC359UI', 'S-AD360U', 'S-AD360UI', 'S-AD361IUI', 'S-AD361U', 'S-AD361UI', 'S-AD363S1IUI', 'S-AD363S1UI', 'S-AD364UI', 'S-AD365UI', 'S-AE370UI', 'S-AE372TI', 'S-AE373HUI', 'S-AE374TI', 'S-AE375TI', 'S-AE375UI', 'S-AE376UI', 'S-AE377IUI', 'S-AE377UI', 'S-AE378TI', 'S-AF380UI', 'S-AF381UI', 'S-AF382IUI', 'S-AF382U', 'S-AF382UI', 'S-AF383HUI', 'S-AF384TI', 'S-AF384UI', 'S-AF385TI', 'S-AF386TI', 'S-AF386UI', 'S-AF387S1TI', 'S-AF387S1UI', 'S-AF489UI', 'S-AF499UI', 'S-AF519S1UI', 'S-AF529HTI', 'S-AF539HS1UI', 'S-AF549HTI', 'S-AF549HUI', 'S-AG392UI', 'S-AG393UI', 'S-AG394UI', 'S-AG395UI', 'S-AG396IUI', 'S-AG397S1UI', 'S-AG398UI', 'S-AH401TI', 'S-AH402TI', 'S-AH402UI', 'S-AH403TI', 'S-AH403UI', 'S-AH405TI', 'S-AH405UI', 'S-AH406TI', 'S-AI410TI', 'S-AI411TI', 'S-AI412HUI', 'S-AI413S1UI', 'S-AI414TI', 'S-AI415TI', 'S-AI415UI', 'S-AJ420TI', 'S-AJ421R1UI', 'S-AJ421TI', 'S-AJ421UI', 'S-AJ422TI', 'S-AJ422UI', 'S-AJ422US', 'S-AJ423TI', 'S-AJ424UI', 'S-AJ425UI', 'S-AJ427HTI', 'S-AJ428TI', 'S-AJ429TI', 'S-AJ589UI', 'S-AK430UI', 'S-AK431IUI', 'S-AK431UI', 'S-AK432UI', 'S-AK433UI', 'S-AL440UI', 'S-AL442UI', 'S-AL443TI', 'S-AL443UI', 'S-AL444TI', 'S-AL444UI', 'S-AL445UI', 'S-AL446S1UI', 'S-AL447T', 'S-AL448R1UI', 'S-AL448UI', 'S-AL449UI', 'S-AL579UI', 'S-AM453TI', 'S-AM455UI', 'S-AM458TI', 'S-AM541TI', 'S-AN460UI', 'S-AN461UI', 'S-AN462UI', 'S-AN463UI', 'S-AN464UI', 'S-AN465UI', 'S-AN466UI', 'S-AO470TI', 'S-AO470UI', 'S-AO471R1TI', 'S-AO471TI', 'S-AO472UI', 'S-AO473HS1UI', 'S-AO474TI', 'S-AO475HUI', 'S-AO476UI', 'S-AO477HUI', 'S-AO478HUI', 'S-AP269UI', 'S-AP279UI', 'S-AP480TI', 'S-AP481TI', 'S-AP482TI', 'S-AP482UI', 'S-AP483TI', 'S-AP483UI', 'S-AP484TI', 'S-AP484UI', 'S-AP485HS2TI', 'S-AP486TI', 'S-AP487UI', 'S-AP488HUI', 'S-AQ490UI', 'S-AQ491TI', 'S-AQ491UI', 'S-AQ492UI', 'S-AQ494UI', 'S-AQ495TI', 'S-AQ495UI', 'S-AQ497UI', 'S-AQ498TI', 'S-B004BUI', 'S-B168HTI', 'S-B178TI', 'S-B204TI', 'S-B235TI', 'S-B236TI', 'S-C010TI', 'S-C010UI', 'S-C140UI', 'S-D020TI', 'S-D020UI', 'S-D251UI', 'S-D253UI', 'S-D256TI', 'S-E049TI', 'S-E049UI', 'S-E166TI', 'S-E166UI', 'S-E205UI', 'S-E232ITI', 'S-E232TI', 'S-F060TI', 'S-F060UI', 'S-F246UI', 'S-F247TI', 'S-F248UI', 'S-G274UI', 'S-G275UI', 'S-G276TI', 'S-G276UI', 'S-G277U', 'S-G278UI', 'S-H231TI', 'S-H233TI', 'S-H237T', 'S-H259TI', 'S-H285UI', 'S-I067BIUI', 'S-I067BU', 'S-I067BUI', 'S-I067UI', 'S-I179HUI', 'S-I200IUI', 'S-J152UI', 'S-J173HUI', 'S-K100UI', 'S-K187UI', 'S-K195TI', 'S-K195UI', 'S-K196T', 'S-K196UI', 'S-K199UI', 'S-L111T', 'S-L111TI', 'S-L172UI', 'S-M333UI', 'S-M340ITI', 'S-N148S1UI', 'S-N148UI', 'S-N163S1TI', 'S-O149T', 'S-O149TI', 'S-O149U', 'S-O223U', 'S-O223UI', 'S-O224U', 'S-O254HS2UI', 'S-P151TI', 'S-P151UI', 'S-P153UI', 'S-P181TI', 'S-P181UI', 'S-P188TI', 'S-P188UI', 'S-Q215UI', 'S-Q216UI', 'S-Q469UI', 'S-R170TI', 'S-R174HS1UI', 'S-R175HTI', 'S-S177TI', 'S-S177TS', 'S-S177U', 'S-S177UI', 'S-S260UI', 'S-S261IUI', 'S-S261UI', 'S-S263TI', 'S-S263UI', 'S-S264U', 'S-S264UI', 'S-S265TI', 'S-S266T', 'S-S266TI', 'S-S287UI', 'S-S288UI', 'S-T150TI', 'S-T150UI', 'S-T169UI', 'S-T180TI', 'S-T229UI', 'S-T230TI', 'S-T230UI', 'S-U189UI', 'S-U207UI', 'S-U208UI', 'S-U209TI', 'S-U211HR1UI', 'S-U211HUI', 'S-U212UI', 'S-V192UI', 'S-V210UI', 'S-V214UI', 'S-V217U', 'S-V217UI', 'S-V240TI', 'S-V240UI', 'S-V241UI', 'S-V320TI', 'S-V321UI', 'S-W154TI', 'S-W155UI', 'S-W176TI', 'S-W267TI', 'S-W268R1UI', 'S-W268TI', 'S-X270U', 'S-X272TI', 'S-Y280U', 'S-Y281T', 'S-Y283UI', 'S-Z291US']

In [312]:
# imprimime el nimero total de pozos NOMBRE_COMPLETO con nunique
print('Total wells: ', df_wells['POZO'].nunique())
print('Total wells with Datum: ', df_wells['Datum'].notnull().sum())

Total wells:  560
Total wells with Datum:  243

# POZOS Y COMPLETACIONES

In [313]:
df_maestra.head()

,WELL_LEGAL_NAME,WELLBORE_ID,COMPLETION_COORDINATE_X,COMPLETION_COORDINATE_Y,COMPLETION_LEGAL_NAME,RSVR_NAME,FIELD,CURR_STATUS,POZO_ID
0,SCH-002B,S-2BTI,289935.8200,9.955795e+06,SCH-002BTI,TI,SCHS,Cerrado,S-2B
1,SCH-002B,S-2BUI,289935.8200,9.955795e+06,SCH-002BUI,UI,SCHS,Abandonado,S-2B
2,SCH-002,S-2TI,289933.0700,9.955781e+06,SCH-002TI,TI,SCHS,Abandonado,S-2
3,SCH-002,S-2UI,289933.0700,9.955781e+06,SCH-002UI,UI,SCHS,Abandonado,S-2
4,SCH-003,S-3TI,295091.5183,9.968342e+06,SCH-003TI,TI,SCHN1,Cerrado,S-3

In [314]:
# Give the well names and their completions
df_well_compleation = df_maestra[['WELLBORE_ID', 'WELL_LEGAL_NAME', 'COMPLETION_LEGAL_NAME', 'RSVR_NAME']].rename(
                        columns={'WELLBORE_ID': 'NOMBRE_POZO', 'WELL_LEGAL_NAME': 'NOMBRE_COMPLETO',
                                'COMPLETION_LEGAL_NAME': 'NOMBRE_COMPLETACION', 'RSVR_NAME': 'CAPA'})

# Add the UWI column
df_well_compleation['UWI'] = df_well_compleation['NOMBRE_POZO'].str.replace('-', 'CH')

df_well_compleation = df_well_compleation[['UWI', 'NOMBRE_POZO', 'NOMBRE_COMPLETO', 'NOMBRE_COMPLETACION', 'CAPA']]

df_well_compleation.head()

       UWI NOMBRE_POZO NOMBRE_COMPLETO NOMBRE_COMPLETACION CAPA
0  SCH2BTI      S-2BTI        SCH-002B          SCH-002BTI   TI
1  SCH2BUI      S-2BUI        SCH-002B          SCH-002BUI   UI
2   SCH2TI       S-2TI         SCH-002           SCH-002TI   TI
3   SCH2UI       S-2UI         SCH-002           SCH-002UI   UI
4   SCH3TI       S-3TI         SCH-003           SCH-003TI   TI

# PRODUCCIÓN

## Mensual

In [315]:
# Order the DataFrame by the well name and the date
df_mensual.sort_values(by=['COMP_S_NAME', 'PROD_DT'], inplace=True)
df_mensual.reset_index(drop=True, inplace=True)
df_mensual.head()

  COMP_S_NAME    PROD_DT  VO_OIL_PROD  VO_GAS_PROD  VO_WAT_PROD  DIAS_ON
0  SCH-002BTI 2007-11-30      9387.29      2816.19      1515.49     30.0
1  SCH-002BTI 2007-12-31     10136.88      3041.06      1317.22     31.0
2  SCH-002BTI 2008-01-31      8469.48      2540.84      1046.79     31.0
3  SCH-002BTI 2008-02-29      7967.25      2390.18      1148.60     29.0
4  SCH-002BTI 2008-03-31      8668.35      2600.51      1238.34     31.0

In [316]:
# Delete the rows with have 'PLAN' in the COMP_S_NAME column
df_mensual = df_mensual[~df_mensual['COMP_S_NAME'].str.contains('PL')]

df_mensual.head()

  COMP_S_NAME    PROD_DT  VO_OIL_PROD  VO_GAS_PROD  VO_WAT_PROD  DIAS_ON
0  SCH-002BTI 2007-11-30      9387.29      2816.19      1515.49     30.0
1  SCH-002BTI 2007-12-31     10136.88      3041.06      1317.22     31.0
2  SCH-002BTI 2008-01-31      8469.48      2540.84      1046.79     31.0
3  SCH-002BTI 2008-02-29      7967.25      2390.18      1148.60     29.0
4  SCH-002BTI 2008-03-31      8668.35      2600.51      1238.34     31.0

In [317]:
# rename columns
df_mensual.rename(columns={'COMP_S_NAME': 'UNIQUEID', 'PROD_DT': 'Date',
                        'DIAS_ON': 'DAYS', 'VO_OIL_PROD': 'OILP', 'VO_WAT_PROD': 'WATP', 'VO_GAS_PROD': 'GASP'}, inplace=True)

# Compute the cumulative productions OIL_cum	GAS_cum	WAT_cum
df_mensual['OIL_cum'] = df_mensual.groupby(['UNIQUEID'])['OILP'].cumsum()
df_mensual['GAS_cum'] = df_mensual.groupby(['UNIQUEID'])['GASP'].cumsum()
df_mensual['WAT_cum'] = df_mensual.groupby(['UNIQUEID'])['WATP'].cumsum()


df_mensual.head()

,UNIQUEID,Date,OILP,GASP,WATP,DAYS,OIL_cum,GAS_cum,WAT_cum
0,SCH-002BTI,2007-11-30,9387.29,2816.19,1515.49,30.0,9387.29,2816.19,1515.49
1,SCH-002BTI,2007-12-31,10136.88,3041.06,1317.22,31.0,19524.17,5857.25,2832.71
2,SCH-002BTI,2008-01-31,8469.48,2540.84,1046.79,31.0,27993.65,8398.09,3879.50
3,SCH-002BTI,2008-02-29,7967.25,2390.18,1148.60,29.0,35960.90,10788.27,5028.10
4,SCH-002BTI,2008-03-31,8668.35,2600.51,1238.34,31.0,44629.25,13388.78,6266.44

In [318]:
df_mensual['Date'].dt.year.unique()

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2019, 2020, 2021, 2022, 2023, 2003, 2004, 2005, 2006, 2001,
       2002, 1978, 1979, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 1972, 1973, 1977, 1980,
       1981, 1982, 1983, 1984, 1985, 1974, 1976, 1975], dtype=int64)

### MERGE DATA FRAMES
In order to filter the data of ```Lower T Sandstone``` and ```Lower U Sandstone```

In [319]:
merged_df = pd.merge(df_mensual, df_maestra[['COMPLETION_LEGAL_NAME', 'WELLBORE_ID', 'RSVR_NAME']],
                    left_on='UNIQUEID', right_on='COMPLETION_LEGAL_NAME', how='inner')

# merged_df.rename(columns={'CURR_STATUS': 'STATUS'}, inplace=True)

merged_df.head()

,UNIQUEID,Date,OILP,GASP,WATP,DAYS,OIL_cum,GAS_cum,WAT_cum,COMPLETION_LEGAL_NAME,WELLBORE_ID,RSVR_NAME
0,SCH-002BTI,2007-11-30,9387.29,2816.19,1515.49,30.0,9387.29,2816.19,1515.49,SCH-002BTI,S-2BTI,TI
1,SCH-002BTI,2007-12-31,10136.88,3041.06,1317.22,31.0,19524.17,5857.25,2832.71,SCH-002BTI,S-2BTI,TI
2,SCH-002BTI,2008-01-31,8469.48,2540.84,1046.79,31.0,27993.65,8398.09,3879.50,SCH-002BTI,S-2BTI,TI
3,SCH-002BTI,2008-02-29,7967.25,2390.18,1148.60,29.0,35960.90,10788.27,5028.10,SCH-002BTI,S-2BTI,TI
4,SCH-002BTI,2008-03-31,8668.35,2600.51,1238.34,31.0,44629.25,13388.78,6266.44,SCH-002BTI,S-2BTI,TI

In [320]:
# verify the reservoir names
merged_df['RSVR_NAME'].unique()

array(['TI', 'UI', 'TY'], dtype=object)

In [321]:
# create a copy of the DataFrame
df_mensual_Ui_Ti = merged_df.copy()

# Drop the columns we don't need
# df_mensual_Ui_Ti.drop(['COMPLETION_LEGAL_NAME', 'WELLBORE_ID', 'RSVR_NAME'], axis=1, inplace=True)
df_mensual_Ui_Ti.drop(['COMPLETION_LEGAL_NAME'], axis=1, inplace=True)

df_mensual_Ui_Ti = df_mensual_Ui_Ti[['WELLBORE_ID', 'UNIQUEID', 'Date', 'OILP', 'GASP', 'WATP', 'DAYS', 'OIL_cum', 'GAS_cum', 'WAT_cum', 'RSVR_NAME']]

df_mensual_Ui_Ti.head()

,WELLBORE_ID,UNIQUEID,Date,OILP,GASP,WATP,DAYS,OIL_cum,GAS_cum,WAT_cum,RSVR_NAME
0,S-2BTI,SCH-002BTI,2007-11-30,9387.29,2816.19,1515.49,30.0,9387.29,2816.19,1515.49,TI
1,S-2BTI,SCH-002BTI,2007-12-31,10136.88,3041.06,1317.22,31.0,19524.17,5857.25,2832.71,TI
2,S-2BTI,SCH-002BTI,2008-01-31,8469.48,2540.84,1046.79,31.0,27993.65,8398.09,3879.50,TI
3,S-2BTI,SCH-002BTI,2008-02-29,7967.25,2390.18,1148.60,29.0,35960.90,10788.27,5028.10,TI
4,S-2BTI,SCH-002BTI,2008-03-31,8668.35,2600.51,1238.34,31.0,44629.25,13388.78,6266.44,TI

In [322]:
# Change the name of injector well SCH-090U to SCH-090IU to identify it as an injector well
names_inject = list(df_iny_diaria['COMPLETION_NAME'].unique())
names_inject = ['SCH-090IU' if name == 'SCH-090U' else name for name in names_inject]

# delete the rows with the names of the injectors wells
df_mensual_Ui_Ti = df_mensual_Ui_Ti[~df_mensual_Ui_Ti['UNIQUEID'].isin(names_inject)]

Verification the ```Oil Accumulate``` (***Np***) of reports with calculated.

In [323]:
print(r'Number of production wells: {}'.format(df_mensual_Ui_Ti['UNIQUEID'].nunique()))
print(r'Cumulative oil production: {:.2f} MSTB'.format(df_mensual['OILP'].sum()/1000))

Number of production wells: 485
Cumulative oil production: 507017.81 MSTB

In [324]:
df_mensual_Ui_Ti['RSVR_NAME'].unique()

array(['TI', 'UI'], dtype=object)

## Diaria

In [325]:
# Order the DataFrame by the well name and the date
df_diaria.sort_values(by=['COMPLETION_NAME', 'PROD_DATE'], inplace=True)
df_diaria.reset_index(drop=True, inplace=True)

# Delete the rows with have 'PLAN' in the COMPLETION_NAME column
df_diaria = df_diaria[~df_diaria['COMPLETION_NAME'].str.contains('PL')]
df_diaria.head()

  COMPLETION_NAME  PROD_DATE  HORES_ON  RATE_OIL  RATE_GAS  RATE_WAT
0      SCH-002BTI 2023-03-21       0.0       0.0       0.0       0.0
1      SCH-002BTI 2023-03-22       0.0       0.0       0.0       0.0
2      SCH-002BTI 2023-03-23       0.0       0.0       0.0       0.0
3      SCH-002BTI 2023-03-24       0.0       0.0       0.0       0.0
4      SCH-002BTI 2023-03-25       0.0       0.0       0.0       0.0

In [326]:
# rename columns
df_diaria.rename(columns={'COMPLETION_NAME': 'UNIQUEID', 'PROD_DATE': 'Date',
                        'RATE_OIL': 'OILP', 'RATE_WAT': 'WATP', 'RATE_GAS': 'GASP'}, inplace=True)
df_diaria.head()

     UNIQUEID       Date  HORES_ON  OILP  GASP  WATP
0  SCH-002BTI 2023-03-21       0.0   0.0   0.0   0.0
1  SCH-002BTI 2023-03-22       0.0   0.0   0.0   0.0
2  SCH-002BTI 2023-03-23       0.0   0.0   0.0   0.0
3  SCH-002BTI 2023-03-24       0.0   0.0   0.0   0.0
4  SCH-002BTI 2023-03-25       0.0   0.0   0.0   0.0

In [327]:
# Verify the years of the daily dataset
df_diaria['Date'].dt.year.unique()

array([2023, 2016, 2017, 2018, 2019, 2020, 2021, 2022], dtype=int64)

# INYECCION

# Diaria

In [328]:
# Order the DataFrame by the well name and the date
df_iny_diaria.sort_values(by=['COMPLETION_NAME', 'PROD_DATE'], inplace=True)
df_iny_diaria.reset_index(drop=True, inplace=True)

df_iny_diaria.head()

,COMPLETION_NAME,PROD_DATE,HORES_ON,RATE_WAT_INJ,WELL_INJ_PRESSURE,PUMP_PRESS,TEMPERATURE,OIL_IN_WATER,SUSPENDED_SOLIDS,OXYGEN,...,SKIMER_TURBIDITY,SKIMER_OXYGEN,BOOSTER_SUSPENDED_SOLIDS,BOOSTER_OIL_IN_WATER,BOOSTER_TURBIDITY,BOOSTER_OXYGEN,BOOSTER_SALINITY,BOOSTER_SLOPE,BOOSTER_PLUGGING_INDEX,COMMENTS
0,SCH-005IT,2009-03-01,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,SCH-005IT,2009-03-02,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,SCH-005IT,2009-03-03,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,SCH-005IT,2009-03-04,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,SCH-005IT,2009-03-05,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [329]:
df_iny_diaria['PROD_DATE'].dt.year.unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022, 2023], dtype=int64)

In [330]:
df_iny_diaria.columns

Index(['COMPLETION_NAME', 'PROD_DATE', 'HORES_ON', 'RATE_WAT_INJ',
       'WELL_INJ_PRESSURE', 'PUMP_PRESS', 'TEMPERATURE', 'OIL_IN_WATER',
       'SUSPENDED_SOLIDS', 'OXYGEN', 'SALINITY', 'PLUGGING_INDEX', 'TURBIDITY',
       'SLOPE', 'WTK_SUSPENDED_SOLIDS', 'WTK_OIL_IN_WATER', 'WTK_TURBIDITY',
       'WTK_OXYGEN', 'SKIMER_SUSPENDED_SOLIDS', 'SKIMER_OIL_IN_WATER',
       'SKIMER_TURBIDITY', 'SKIMER_OXYGEN', 'BOOSTER_SUSPENDED_SOLIDS',
       'BOOSTER_OIL_IN_WATER', 'BOOSTER_TURBIDITY', 'BOOSTER_OXYGEN',
       'BOOSTER_SALINITY', 'BOOSTER_SLOPE', 'BOOSTER_PLUGGING_INDEX',
       'COMMENTS'],
      dtype='object')

In [331]:
# this information belong to updated report to 11/2023
# the well 'SCHAG-396IUI' isn't in the report
injector_names = [
    "SCH-048", "SCH-015", "SCH-076", "SCH-105I", "SCH-005", "SCH-090", "SCH-036", "SCH-103",
    "SCHI-200", "SCHI-067B", "SCHAD-361", "SCHAD-363S1", "SCH-045B", "SCHAF-382", "SCHAE-377",
    "SCHAB-315", "SCHS-261", "SCHAK-431", "SCHAA-307", "SCHM-340", "SCHE-232", "SCHAG-396IUI"]

In [332]:
# Wells which are in the df_iny_diaria['COMPLETION_NAME'] column and injector_names

# Empty dictionary to store matching injectors
matching_injectors = {}

# Iterate through each 'COMPLETION_NAME' in df_iny_diaria
for uniqueid in df_iny_diaria['COMPLETION_NAME']:
    # Check if the current 'COMPLETION_NAME' starts with any injector_name
    for injector_name in injector_names:
        if uniqueid.startswith(injector_name):
            # If the injector_name is not in the dictionary, add it with an empty set
            if injector_name not in matching_injectors:
                matching_injectors[injector_name] = set()
            # Add the current 'COMPLETION_NAME' to the set of matching injectors for the current injector_name
            matching_injectors[injector_name].add(uniqueid)

# Convert sets to lists before printing the dictionary
matching_injectors = {key: list(value) for key, value in matching_injectors.items()}

print("Dictionary with matching injectors:")
for key, values in matching_injectors.items():
    print(f"{key}: {values}")

Dictionary with matching injectors:
SCH-005: ['SCH-005IT', 'SCH-005IU']
SCH-015: ['SCH-015IU']
SCH-036: ['SCH-036IUI']
SCH-045B: ['SCH-045BIUI']
SCH-048: ['SCH-048IU', 'SCH-048IT']
SCH-076: ['SCH-076IU', 'SCH-076IT']
SCH-090: ['SCH-090IU']
SCH-103: ['SCH-103IUI']
SCH-105I: ['SCH-105IU', 'SCH-105IT']
SCHAB-315: ['SCHAB-315IUI']
SCHAD-361: ['SCHAD-361IUI']
SCHAD-363S1: ['SCHAD-363S1IUI']
SCHAE-377: ['SCHAE-377IUI']
SCHAF-382: ['SCHAF-382IUI']
SCHAG-396IUI: ['SCHAG-396IUI']
SCHAK-431: ['SCHAK-431IUI']
SCHE-232: ['SCHE-232ITI']
SCHI-067B: ['SCHI-067BIUI']
SCHI-200: ['SCHI-200IUI']
SCHM-340: ['SCHM-340ITI']
SCHS-261: ['SCHS-261IUI']

In [333]:
# Wells which are in the df_iny_diaria['COMPLETION_NAME'] column and not in injector_names

# Create a list of 'COMPLETION_NAME' values that did not match any injector_name
not_matching_injectors = [uniqueid for uniqueid in df_iny_diaria['COMPLETION_NAME'] if not any(
                        injector_name in uniqueid for injector_name in matching_injectors)]

# Remove duplicates by converting the list to a set and then back to a list
not_matching_injectors = list(set(not_matching_injectors))

print('Disposal Wells')
not_matching_injectors

Disposal Wells

['SCHI-201IH',
 'SCH-029ITY',
 'SCH-086ITY',
 'SCH-117ITY',
 'SCHB-221HTY',
 'SCH-023ITY',
 'SCH-084ITY']

In [334]:
'''
We may delete the rows with the wells which are not in the injector_names list, but we will lose
the information of the disposal wells
'''
# TODO: Delete the rows of disposal wells
# Delete the rows with the wells which are not in the injector_names list
df_iny_diaria = df_iny_diaria[~df_iny_diaria['COMPLETION_NAME'].isin(not_matching_injectors)]

df_iny_diaria.head()

,COMPLETION_NAME,PROD_DATE,HORES_ON,RATE_WAT_INJ,WELL_INJ_PRESSURE,PUMP_PRESS,TEMPERATURE,OIL_IN_WATER,SUSPENDED_SOLIDS,OXYGEN,...,SKIMER_TURBIDITY,SKIMER_OXYGEN,BOOSTER_SUSPENDED_SOLIDS,BOOSTER_OIL_IN_WATER,BOOSTER_TURBIDITY,BOOSTER_OXYGEN,BOOSTER_SALINITY,BOOSTER_SLOPE,BOOSTER_PLUGGING_INDEX,COMMENTS
0,SCH-005IT,2009-03-01,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,SCH-005IT,2009-03-02,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,SCH-005IT,2009-03-03,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,SCH-005IT,2009-03-04,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,SCH-005IT,2009-03-05,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [335]:
# rename columns
df_iny_diaria = df_iny_diaria[['COMPLETION_NAME', 'PROD_DATE', 'HORES_ON', 'RATE_WAT_INJ', 'WELL_INJ_PRESSURE']].rename(
                                columns={'COMPLETION_NAME': 'Pozo', 'PROD_DATE': 'Date', 
                                        'RATE_WAT_INJ': 'Winj', 'WELL_INJ_PRESSURE': 'Pia'})
df_iny_diaria.head()

        Pozo       Date  HORES_ON  Winj  Pia
0  SCH-005IT 2009-03-01      24.0   0.0  NaN
1  SCH-005IT 2009-03-02      24.0   0.0  NaN
2  SCH-005IT 2009-03-03      24.0   0.0  NaN
3  SCH-005IT 2009-03-04      24.0   0.0  NaN
4  SCH-005IT 2009-03-05      24.0   0.0  NaN

In [336]:
merged_df_iny = pd.merge(df_iny_diaria, df_maestra[['WELLBORE_ID', 'COMPLETION_LEGAL_NAME', 'RSVR_NAME']],
                    left_on='Pozo', right_on='COMPLETION_LEGAL_NAME', how = 'inner')

# delete the rows with the values Pozo = NaN
merged_df_iny = merged_df_iny[~merged_df_iny['Pozo'].isna()]

# make a copy of the merged_df_iny DataFrame
df_iny_diaria = merged_df_iny.copy()

# delete 'COMPLETION_LEGAL_NAME', 'WELL_LEGAL_NAME' and 'HORES_ON' columns
df_iny_diaria.drop(['COMPLETION_LEGAL_NAME', 'HORES_ON'], axis=1, inplace=True)

# rename columns
df_iny_diaria.rename(columns={'RSVR_NAME': 'Capa'}, inplace=True)

# change values in capa column, where T to TI, U to UI, U-I to UI
df_iny_diaria['Capa'] = df_iny_diaria['Capa'].replace({'T': 'TI', 'U': 'UI', 'U-I': 'UI'})

# Calculate the accumulated water injection WATER_INJ_.CUM
df_iny_diaria['WATER_INJ_.CUM'] = df_iny_diaria.groupby(['Pozo'])['Winj'].cumsum()

df_iny_diaria.head()

        Pozo       Date  Winj  Pia WELLBORE_ID Capa  WATER_INJ_.CUM
0  SCH-005IT 2009-03-01   0.0  NaN       S-5IT   TI             0.0
1  SCH-005IT 2009-03-02   0.0  NaN       S-5IT   TI             0.0
2  SCH-005IT 2009-03-03   0.0  NaN       S-5IT   TI             0.0
3  SCH-005IT 2009-03-04   0.0  NaN       S-5IT   TI             0.0
4  SCH-005IT 2009-03-05   0.0  NaN       S-5IT   TI             0.0

## MENSUAL

In [337]:
# Select the desired columns and transform the hours to days
df_iny_mensual = merged_df_iny[['WELLBORE_ID', 'Pozo', 'RSVR_NAME', 'Date', 'HORES_ON', 'Winj', 'Pia']]
df_iny_mensual['DAYS'] = df_iny_mensual['HORES_ON']/24        # convert hours to days

df_iny_mensual.head()

  WELLBORE_ID       Pozo RSVR_NAME       Date  HORES_ON  Winj  Pia  DAYS
0       S-5IT  SCH-005IT        TI 2009-03-01      24.0   0.0  NaN   1.0
1       S-5IT  SCH-005IT        TI 2009-03-02      24.0   0.0  NaN   1.0
2       S-5IT  SCH-005IT        TI 2009-03-03      24.0   0.0  NaN   1.0
3       S-5IT  SCH-005IT        TI 2009-03-04      24.0   0.0  NaN   1.0
4       S-5IT  SCH-005IT        TI 2009-03-05      24.0   0.0  NaN   1.0

In [338]:
# Filter pressure values greater than 0 and not null
df_iny_mensual['Pia_Days'] = df_iny_mensual['Pia'].apply(lambda x: 1 if x > 0 and not pd.isnull(x) else 0)

# Calculate the accumulated values by month
df_iny_mensual['Month'] = df_iny_mensual.groupby(['Pozo', df_iny_mensual['Date'].dt.to_period('M')])['Date'].transform('min')
df_iny_month = df_iny_mensual.groupby(['Pozo', 'Month'])[['Winj', 'DAYS', 'Pia', 'Pia_Days', 'RSVR_NAME']].sum().reset_index()

# Pressure average by month
df_iny_month['Pia_Avg'] = df_iny_month['Pia'] / df_iny_month['Pia_Days']

df_iny_month.head()

C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1434285125.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_iny_month = df_iny_mensual.groupby(['Pozo', 'Month'])[['Winj', 'DAYS', 'Pia', 'Pia_Days', 'RSVR_NAME']].sum().reset_index()

        Pozo      Month      Winj  DAYS  Pia  Pia_Days  Pia_Avg
0  SCH-005IT 2009-03-01       0.0  31.0  0.0         0      NaN
1  SCH-005IT 2009-07-01       0.0  31.0  0.0         0      NaN
2  SCH-005IT 2009-09-01       0.0  30.0  0.0         0      NaN
3  SCH-005IT 2009-11-01  128971.0  30.0  0.0         0      NaN
4  SCH-005IT 2009-12-01  134078.0  31.0  0.0         0      NaN

In [339]:
# Filter pressure values greater than 0 and not null
df_iny_mensual['Pia_Days'] = df_iny_mensual['Pia'].apply(lambda x: 1 if x > 0 and not pd.isnull(x) else 0)
df_iny_mensual['Winj_Days'] = df_iny_mensual['Winj'].apply(lambda x: 1 if x > 0 and not pd.isnull(x) else 0)

# Calculate the accumulated values by month
df_iny_mensual['Month'] = df_iny_mensual.groupby(['Pozo', df_iny_mensual['Date'].dt.to_period('M')])['Date'].transform('min')
df_iny_month = df_iny_mensual.groupby(['Pozo', 'Month']).agg({'WELLBORE_ID': 'first', 'Winj': 'sum', 'DAYS': 'sum', 'Pia': 'sum', 'Pia_Days': 'sum', 'RSVR_NAME': 'first'}).reset_index()

# Pressure average by month
df_iny_month['Pia_Avg'] = df_iny_month['Pia'] / df_iny_month['Pia_Days']
df_iny_month['Winj_Avg'] = df_iny_month['Winj'] / df_iny_month['DAYS']

df_iny_month = df_iny_month[['WELLBORE_ID', 'Pozo', 'Month', 'Winj', 'Winj_Avg', 'DAYS', 'Pia', 'Pia_Days', 'Pia_Avg', 'RSVR_NAME']].round(3)

df_iny_month.head()

,WELLBORE_ID,Pozo,Month,Winj,Winj_Avg,DAYS,Pia,Pia_Days,Pia_Avg,RSVR_NAME
0,S-5IT,SCH-005IT,2009-03-01,0.0,0.000,31.0,0.0,0,NaN,TI
1,S-5IT,SCH-005IT,2009-07-01,0.0,0.000,31.0,0.0,0,NaN,TI
2,S-5IT,SCH-005IT,2009-09-01,0.0,0.000,30.0,0.0,0,NaN,TI
3,S-5IT,SCH-005IT,2009-11-01,128971.0,4299.033,30.0,0.0,0,NaN,TI
4,S-5IT,SCH-005IT,2009-12-01,134078.0,4325.097,31.0,0.0,0,NaN,TI

In [340]:
# rename column
df_iny_month.rename(columns={'Pozo': 'UNIQUEID', 'RSVR_NAME': 'CAPA', 'Month': 'Date', 'Winj': 'WATER_INJ_VOL', 'Winj_Avg': 'WATER_INJ_AVG', 'Pia_Avg': 'WHP'}, inplace=True)

#create a new column INJ_TYPE
df_iny_month['INJ_TYPE'] = 'water'

# Calculate the accumulated water injection WATER_INJ_.CUM
df_iny_month['WATER_INJ_.CUM'] = df_iny_month.groupby(['UNIQUEID'])['WATER_INJ_VOL'].cumsum()

df_iny_month.head()

,WELLBORE_ID,UNIQUEID,Date,WATER_INJ_VOL,WATER_INJ_AVG,DAYS,Pia,Pia_Days,WHP,CAPA,INJ_TYPE,WATER_INJ_.CUM
0,S-5IT,SCH-005IT,2009-03-01,0.0,0.000,31.0,0.0,0,NaN,TI,water,0.0
1,S-5IT,SCH-005IT,2009-07-01,0.0,0.000,31.0,0.0,0,NaN,TI,water,0.0
2,S-5IT,SCH-005IT,2009-09-01,0.0,0.000,30.0,0.0,0,NaN,TI,water,0.0
3,S-5IT,SCH-005IT,2009-11-01,128971.0,4299.033,30.0,0.0,0,NaN,TI,water,128971.0
4,S-5IT,SCH-005IT,2009-12-01,134078.0,4325.097,31.0,0.0,0,NaN,TI,water,263049.0

In [341]:
# Number of injection wells
print('Number of injection wells: ', df_iny_month['UNIQUEID'].nunique())
# acuumulated water injection
print('Accumulated water injection: {:.2f} MSTB'.format(df_iny_month['WATER_INJ_VOL'].sum()/1000))

Number of injection wells:  25
Accumulated water injection: 136590.57 MSTB

### Filtered data to load in OFM

In [342]:
# Delete rows with WATER_INJ_VOL = 0 and WHP = NaN
df_iny_month_OFM = df_iny_month[~((df_iny_month['WATER_INJ_VOL'] == 0) & df_iny_month['WHP'].isnull())]
df_iny_month_OFM.drop(['INJ_TYPE'], axis=1, inplace=True)
df_iny_month_OFM.rename(columns={'UNIQUEID': 'Pozo', 'Date': 'Month', 'WATER_INJ_VOL': 'Winj', 'WHP': 'Pia_Avg'}, inplace=True)
df_iny_month_OFM.head()

C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1304598637.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_iny_month_OFM.drop(['INJ_TYPE'], axis=1, inplace=True)
C:\Users\brand\AppData\Local\Temp\ipykernel_13680\1304598637.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_iny_month_OFM.rename(columns={'UNIQUEID': 'Pozo', 'Date': 'Month', 'WATER_INJ_VOL': 'Winj', 'WHP': 'Pia_Avg'}, inplace=True)

,WELLBORE_ID,Pozo,Month,Winj,WATER_INJ_AVG,DAYS,Pia,Pia_Days,Pia_Avg,CAPA,WATER_INJ_.CUM
3,S-5IT,SCH-005IT,2009-11-01,128971.0,4299.033,30.0,0.0,0,NaN,TI,128971.0
4,S-5IT,SCH-005IT,2009-12-01,134078.0,4325.097,31.0,0.0,0,NaN,TI,263049.0
5,S-5IT,SCH-005IT,2010-01-01,137696.0,4441.806,31.0,0.0,0,NaN,TI,400745.0
6,S-5IT,SCH-005IT,2010-02-01,139108.0,4968.143,28.0,0.0,0,NaN,TI,539853.0
7,S-5IT,SCH-005IT,2010-03-01,137382.0,4431.677,31.0,0.0,0,NaN,TI,677235.0

# EVENTOS - PERFORADOS

## Notas

In [343]:
# Import the Excel file
excel_file_eventos = r'C:\Users\brand\OneDrive - Universidad Central del Ecuador\Documentos\Maestría EOR\Tesis EOR\Info EPPEC\2018_INFORMACION POZOS SACHA-EVENTOS -INTERVALOS_PAM.xlsx'

# Read the Excel file into a DataFrame
df_eventos = pd.read_excel(excel_file_eventos, sheet_name='POZOS EVENTOS', skiprows=6)

df_eventos.head()

,BLOQUE,ACTIVO,POZO,EVENTO,COD EVENTO,TRABAJO,FECHA INICIO,FECHA FIN
0,B60,SA,SCHA-001,DEV DRILLING,DRL,DRL,1969-01-21,1969-02-18 00:00:00
1,B60,SA,SCHA-001,DEV COMPLETION,COM,COM,1969-02-22,1969-02-25 00:00:00
2,B60,SA,SCH-002,DEV DRILLING,DRL,DRL,1969-07-21,1969-08-22 00:00:00
3,B60,SA,SCH-002,DEV COMPLETION,COM,COM,1969-08-29,1969-08-31 00:00:00
4,B60,SA,SCH-003,DEV DRILLING,DRL,DRL,1969-09-04,1969-10-03 00:00:00

In [344]:
df_maestra.head()

,WELL_LEGAL_NAME,WELLBORE_ID,COMPLETION_COORDINATE_X,COMPLETION_COORDINATE_Y,COMPLETION_LEGAL_NAME,RSVR_NAME,FIELD,CURR_STATUS,POZO_ID
0,SCH-002B,S-2BTI,289935.8200,9.955795e+06,SCH-002BTI,TI,SCHS,Cerrado,S-2B
1,SCH-002B,S-2BUI,289935.8200,9.955795e+06,SCH-002BUI,UI,SCHS,Abandonado,S-2B
2,SCH-002,S-2TI,289933.0700,9.955781e+06,SCH-002TI,TI,SCHS,Abandonado,S-2
3,SCH-002,S-2UI,289933.0700,9.955781e+06,SCH-002UI,UI,SCHS,Abandonado,S-2
4,SCH-003,S-3TI,295091.5183,9.968342e+06,SCH-003TI,TI,SCHN1,Cerrado,S-3

In [345]:
# Generate a merge to change the name of the wells
df_eventos = pd.merge(df_eventos[['POZO', 'FECHA FIN', 'COD EVENTO', 'EVENTO']], df_maestra[['WELL_LEGAL_NAME', 'WELLBORE_ID']],
                    left_on='POZO', right_on='WELL_LEGAL_NAME', how = 'inner')

# Water production wells from report to 11/2023
well_water_prod = ['SCHAA-306', 'SCHAD-366', 'SCHAE-374', 'SCHAF-380', 'SCHAB-318', 'SCHAK-432', 'SCHE-166']

# if the well is nan in WELLBORE_ID column, then put the name of the well from POZO, just in the wells which are in well_water_prod list
df_eventos['WELLBORE_ID'] = np.where(df_eventos['WELLBORE_ID'].isnull() & df_eventos['POZO'].isin(
                        well_water_prod), df_eventos['POZO'], df_eventos['WELLBORE_ID'])

# change the name of the wells to desired name format
# df_eventos['WELLBORE_ID'] = df_eventos['WELLBORE_ID'].replace(
#                                 {'SCHAA-306': 'S-AA306', 'SCHAD-366': 'S-AD366', 'SCHAE-374': 'S-AE374', 'SCHAF-380': 'S-AF380',
#                                 'SCHAB-318': 'S-AB318', 'SCHAK-432': 'S-AK432', 'SCHE-166': 'S-E166'})

# if nan in WELLBORE_ID column, delete the row
# df_eventos = df_eventos[~df_eventos['WELLBORE_ID'].isnull()]

# Put in the desired format
df_eventos = df_eventos[['WELLBORE_ID', 'FECHA FIN', 'COD EVENTO', 'EVENTO']]
df_eventos.rename(columns={'WELLBORE_ID': 'IDENTIFICADOR', 'FECHA FIN': 'FECHA',
                        'COD EVENTO': 'CATEGORÍA', 'EVENTO': 'DATO'}, inplace=True)
df_eventos.head()

  IDENTIFICADOR                FECHA CATEGORÍA            DATO
0       S-A001U  1969-02-18 00:00:00       DRL    DEV DRILLING
1      S-A001UI  1969-02-18 00:00:00       DRL    DEV DRILLING
2       S-A001U  1969-02-25 00:00:00       COM  DEV COMPLETION
3      S-A001UI  1969-02-25 00:00:00       COM  DEV COMPLETION
4       S-A001U  1973-05-05 00:00:00       WKO        WORKOVER

## Perforados

In [346]:
# Import the Excel file
excel_file_perf = r'C:\Users\brand\OneDrive - Universidad Central del Ecuador\Documentos\Maestría EOR\Tesis EOR\Info EPPEC\NUEVA INFORMACIÓN 06112023\PRF-SA-RPR-231108-INTERVALOS SACHA.xlsx'

# Read the Excel file into a DataFrame
df_perf = pd.read_excel(excel_file_perf, sheet_name='INTERVALOS CAÑONEADOS', skiprows=13)

df_perf.head()

,BLOQUE,CAMPO,ACTIVO,NOMBRE LARGO,POZO,WELLBORE,FECHA CAÑONEO,Top MD (ft),Btm MD (ft),RAZON,ESTATUS,ARENA
0,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9730.0,9737.0,PRODUCTION,OPEN,"ARENA ""T"""
1,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9954.0,9982.0,PRODUCTION,OPEN,HOLLIN INFERIOR
2,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9740.0,9746.0,PRODUCTION,OPEN,"ARENA ""T"""
3,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9935.0,9939.0,PRODUCTION,OPEN,HOLLIN INFERIOR
4,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9940.0,9952.0,PRODUCTION,OPEN,HOLLIN INFERIOR

In [347]:
# Generate conditions to find the names of the layers are included
condition_Ui = df_perf['ARENA'].str.contains('U S|"US"|Ui|UI|ARENA U|U I|"U"|Lower U', case=False, na=False) # & ~df_perf['ARENA'].str.contains('"U" SU|U SU', case=False, na=False)
condition_Ti = df_perf['ARENA'].str.contains('"TS"|A "T"|T S|"Ti"|Ti|TI|A T|T I|Lower T|main T', case=False, na=False) # & ~df_perf['ARENA'].str.contains('"T" SU|T SU', case=False, na=False)
condition_H = df_perf['ARENA'].str.contains('HOLLIN|HOLLÍN|HI|ARENA H|A "H"', case=False, na=False)

# Replace the values in ARENA column at de desired format
df_perf['ARENA 2'] = np.where(condition_Ui, 'UI', df_perf['ARENA'])
df_perf['ARENA 2'] = np.where(condition_Ti, 'TI', df_perf['ARENA 2'])
df_perf['ARENA 2'] = np.where(condition_H, 'H', df_perf['ARENA 2'])

df_perf.head()

,BLOQUE,CAMPO,ACTIVO,NOMBRE LARGO,POZO,WELLBORE,FECHA CAÑONEO,Top MD (ft),Btm MD (ft),RAZON,ESTATUS,ARENA,ARENA 2
0,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9730.0,9737.0,PRODUCTION,OPEN,"ARENA ""T""",TI
1,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9954.0,9982.0,PRODUCTION,OPEN,HOLLIN INFERIOR,H
2,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9740.0,9746.0,PRODUCTION,OPEN,"ARENA ""T""",TI
3,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9935.0,9939.0,PRODUCTION,OPEN,HOLLIN INFERIOR,H
4,B60,SACHA,SA,SACHA-003,SCH-003,SCH-003,1969-10-08,9940.0,9952.0,PRODUCTION,OPEN,HOLLIN INFERIOR,H

In [348]:
# Generate a merge to change the name of the wells
df_perf = pd.merge(df_perf[['WELLBORE', 'FECHA CAÑONEO', 'Top MD (ft)', 'Btm MD (ft)', 'RAZON', 'ESTATUS', 'ARENA', 'ARENA 2']], df_maestra[
                        ['WELLBORE_ID', 'COMPLETION_LEGAL_NAME', 'WELL_LEGAL_NAME', 'RSVR_NAME']],
                    left_on=['WELLBORE', 'ARENA 2'], right_on=['WELL_LEGAL_NAME', 'RSVR_NAME'], how = 'inner') 
df_perf.head()

,WELLBORE,FECHA CAÑONEO,Top MD (ft),Btm MD (ft),RAZON,ESTATUS,ARENA,ARENA 2,WELLBORE_ID,COMPLETION_LEGAL_NAME,WELL_LEGAL_NAME,RSVR_NAME
0,SCH-003,1969-10-08,9730.0,9737.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
1,SCH-003,1969-10-08,9740.0,9746.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
2,SCH-003,1969-10-08,9750.0,9756.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
3,SCH-003,1994-12-17,9730.0,9737.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
4,SCH-003,1994-12-17,9740.0,9746.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI

In [349]:
# dame una lista de pozos de df_maestra que no estan en df_perf_2
completions_not_found = [pozo for pozo in df_maestra['COMPLETION_LEGAL_NAME'].unique() if pozo not in df_perf['COMPLETION_LEGAL_NAME'].unique()]
print(completions_not_found)

['SCH-002TI', 'SCH-002UI', 'SCH-012T', 'SCH-012TI', 'SCH-012UI', 'SCH-012US', 'SCH-015IU', 'SCH-015UI', 'SCH-022TI', 'SCH-022UI', 'SCH-023ITY', 'SCH-024TI', 'SCH-024UI', 'SCH-025U', 'SCH-025UI', 'SCH-026U', 'SCH-026UI', 'SCH-027TI', 'SCH-027UI', 'SCH-028T', 'SCH-028TI', 'SCH-028UI', 'SCH-029ITY', 'SCH-029TI', 'SCH-029UI', 'SCH-034T', 'SCH-034TI', 'SCH-034UI', 'SCH-035TI', 'SCH-035UI', 'SCH-039TI', 'SCH-039UI', 'SCH-040TI', 'SCH-040UI', 'SCH-048IT', 'SCH-048IU', 'SCH-052UI', 'SCH-054TI', 'SCH-054UI', 'SCH-056U', 'SCH-056UI', 'SCH-057UI', 'SCH-061TI', 'SCH-064TI', 'SCH-064UI', 'SCH-066UI', 'SCH-071U', 'SCH-071UI', 'SCH-074TI', 'SCH-074UI', 'SCH-075TI', 'SCH-075U', 'SCH-075UI', 'SCH-076IT', 'SCH-076IU', 'SCH-078TI', 'SCH-078UI', 'SCH-083T', 'SCH-083UI', 'SCH-084ITY', 'SCH-085UI', 'SCH-086ITY', 'SCH-089UI', 'SCH-090IU', 'SCH-090UI', 'SCH-092U', 'SCH-092UI', 'SCH-095TI', 'SCH-097TI', 'SCH-097UI', 'SCH-105IT', 'SCH-105IU', 'SCH-107TI', 'SCH-107UI', 'SCH-112UI', 'SCH-113U', 'SCH-113UI', 'SCH-116T', 'SCH-116TI', 'SCH-116UI', 'SCH-117ITY', 'SCH-117UI', 'SCH-122TI', 'SCH-129U', 'SCH-131T', 'SCH-132U', 'SCH-143UI', 'SCH-186TI', 'SCHA-001U', 'SCHA-001UI', 'SCHAA-302UI', 'SCHAB-317HUI', 'SCHAC-351TI', 'SCHAE-373HUI', 'SCHAF-383HUI', 'SCHAF-529HTI', 'SCHAF-539HS1UI', 'SCHAF-549HTI', 'SCHAH-401TI', 'SCHAI-412HUI', 'SCHAI-415UI', 'SCHAJ-420TI', 'SCHAJ-427HTI', 'SCHAK-433UI', 'SCHAO-473HS1UI', 'SCHAO-475HUI', 'SCHAO-478HUI', 'SCHAP-485HS2TI', 'SCHAP-488HUI', 'SCHB-204TI', 'SCHB-235TI', 'SCHB-236TI', 'SCHC-010TI', 'SCHC-010UI', 'SCHD-253UI', 'SCHE-049TI', 'SCHE-049UI', 'SCHF-060TI', 'SCHF-060UI', 'SCHI-067UI', 'SCHI-179HUI', 'SCHJ-173HUI', 'SCHK-100UI', 'SCHN-148S1UI', 'SCHN-148UI', 'SCHO-254HS2UI', 'SCHR-174HS1UI', 'SCHT-169UI', 'SCHU-211HR1UI', 'SCHU-211HUI', 'SCHX-272TI']

In [350]:
print(r'Number of completions in Maestra: {}'.format(df_maestra['COMPLETION_LEGAL_NAME'].nunique()))
print(r'Number of completions match in Maestra and original file: {}'.format(df_perf['COMPLETION_LEGAL_NAME'].nunique()))
print(r'Number of completions not found: {}'.format(len(completions_not_found)))

Number of completions in Maestra: 565
Number of completions match in Maestra and original file: 434
Number of completions not found: 131

In [351]:
df_perf.head()

,WELLBORE,FECHA CAÑONEO,Top MD (ft),Btm MD (ft),RAZON,ESTATUS,ARENA,ARENA 2,WELLBORE_ID,COMPLETION_LEGAL_NAME,WELL_LEGAL_NAME,RSVR_NAME
0,SCH-003,1969-10-08,9730.0,9737.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
1,SCH-003,1969-10-08,9740.0,9746.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
2,SCH-003,1969-10-08,9750.0,9756.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
3,SCH-003,1994-12-17,9730.0,9737.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
4,SCH-003,1994-12-17,9740.0,9746.0,PRODUCTION,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI

In [352]:
# Change the punzados types
df_perf['RAZON'] = df_perf['RAZON'].replace(
                                {'PRODUCTION': 'Producción', 'CEMENT SQUEEZE': 'SQZ', 'PRODUCTION  "TI"': 'PRODUCTION',
                                'INJECTION' : 'Inyección','ARENA INYECTORA': 'INJECTION', 'PRODUCTION  "UIf"': 'PRODUCTION', 'PRODUCTION  "UI"': 'PRODUCTION'})

# generate a copy of the df_perf DataFrame
df_perf_original = df_perf.copy()

# Put in the desired format
# TODO: check if the columns are correct and their names
df_perf = df_perf[['WELLBORE_ID', 'COMPLETION_LEGAL_NAME', 'FECHA CAÑONEO', 'Top MD (ft)', 'Btm MD (ft)', 'RAZON']].rename(
                columns={'COMPLETION_LEGAL_NAME': 'IDENTIFICADOR', 'FECHA CAÑONEO': 'FECHA',
                        'Top MD (ft)': 'TOPE', 'Btm MD (ft)': 'BASE', 'RAZON': 'TIPO_DE_PUNZADO'})
df_perf.head()

  WELLBORE_ID IDENTIFICADOR      FECHA    TOPE    BASE TIPO_DE_PUNZADO
0       S-3TI     SCH-003TI 1969-10-08  9730.0  9737.0      Producción
1       S-3TI     SCH-003TI 1969-10-08  9740.0  9746.0      Producción
2       S-3TI     SCH-003TI 1969-10-08  9750.0  9756.0      Producción
3       S-3TI     SCH-003TI 1994-12-17  9730.0  9737.0      Producción
4       S-3TI     SCH-003TI 1994-12-17  9740.0  9746.0      Producción

## Notas 2

In [353]:
# Find the last month of production for each well
last_month = df_mensual_Ui_Ti.groupby('UNIQUEID')['Date'].idxmax()

# Filter rows corresponding to the last month of each well
df_notas_prod = df_mensual_Ui_Ti.loc[last_month]

# Calculate the average of OILP for the last month divided by the number of days of the month
df_notas_prod['Qo [bopd]'] = df_notas_prod['OILP'] / df_notas_prod['DAYS']
df_notas_prod['Qt [bfpd]'] = (df_notas_prod['WATP'] + df_notas_prod['OILP']) / df_notas_prod['DAYS']

# Generate a merge to have the reservoir name
df_notas_prod = pd.merge(df_notas_prod[['WELLBORE_ID', 'UNIQUEID', 'Date', 'Qo [bopd]', 'Qt [bfpd]', 'OIL_cum']], df_maestra[['COMPLETION_LEGAL_NAME', 'RSVR_NAME']],
                    left_on='UNIQUEID', right_on='COMPLETION_LEGAL_NAME', how = 'inner')
# Put in the desired format
df_notas_prod.rename(columns={'UNIQUEID': 'Completion', 'Date': 'FECHA', 'OIL_cum': 'Np [Bls]'}, inplace=True)

df_notas_prod.head()

,WELLBORE_ID,Completion,FECHA,Qo [bopd],Qt [bfpd],Np [Bls],COMPLETION_LEGAL_NAME,RSVR_NAME
0,S-2BTI,SCH-002BTI,2023-06-30,NaN,NaN,610218.002,SCH-002BTI,TI
1,S-2BUI,SCH-002BUI,2023-06-30,NaN,NaN,231683.190,SCH-002BUI,UI
2,S-2TI,SCH-002TI,2023-06-30,NaN,NaN,0.000,SCH-002TI,TI
3,S-2UI,SCH-002UI,2023-06-30,NaN,NaN,237197.000,SCH-002UI,UI
4,S-3TI,SCH-003TI,2023-06-30,NaN,NaN,2380627.342,SCH-003TI,TI

In [354]:
# Column to determine if the well is producing
df_notas_prod['PRODUCCION'] = np.where(df_notas_prod['Qt [bfpd]'] > 0, 'SI', 'NO')
df_notas_prod.head()

,WELLBORE_ID,Completion,FECHA,Qo [bopd],Qt [bfpd],Np [Bls],COMPLETION_LEGAL_NAME,RSVR_NAME,PRODUCCION
0,S-2BTI,SCH-002BTI,2023-06-30,NaN,NaN,610218.002,SCH-002BTI,TI,NO
1,S-2BUI,SCH-002BUI,2023-06-30,NaN,NaN,231683.190,SCH-002BUI,UI,NO
2,S-2TI,SCH-002TI,2023-06-30,NaN,NaN,0.000,SCH-002TI,TI,NO
3,S-2UI,SCH-002UI,2023-06-30,NaN,NaN,237197.000,SCH-002UI,UI,NO
4,S-3TI,SCH-003TI,2023-06-30,NaN,NaN,2380627.342,SCH-003TI,TI,NO

In [355]:
# Find the last month of production for each well
last_month = df_iny_month.groupby('UNIQUEID')['Date'].idxmax()

# Filter rows corresponding to the last month of each well
df_notas_iny = df_iny_month.loc[last_month]

# Calculate the average of OILP for the last month divided by the number of days of the month
df_notas_iny['W [bwpd]'] = df_notas_iny['WATER_INJ_VOL'] / df_notas_iny['DAYS']

# Generate a merge to have the reservoir name
df_notas_iny = pd.merge(df_notas_iny[['WELLBORE_ID', 'UNIQUEID', 'Date', 'WATER_INJ_VOL', 'W [bwpd]', 'WATER_INJ_.CUM']], df_maestra[['COMPLETION_LEGAL_NAME', 'RSVR_NAME']],
                    left_on='UNIQUEID', right_on='COMPLETION_LEGAL_NAME', how = 'inner')

# Put in the desired format
df_notas_iny.rename(columns={'UNIQUEID': 'Completion', 'Date': 'FECHA', 'OIL_cum': 'Wp [Bls]', 'WATER_INJ_.CUM': 'Wp [Bls]'}, inplace=True)

df_notas_iny.head()

,WELLBORE_ID,Completion,FECHA,WATER_INJ_VOL,W [bwpd],Wp [Bls],COMPLETION_LEGAL_NAME,RSVR_NAME
0,S-5IT,SCH-005IT,2023-09-01,0.0,NaN,8639658.0,SCH-005IT,TI
1,S-5IU,SCH-005IU,2023-09-01,0.0,NaN,7594596.0,SCH-005IU,UI
2,S-15IU,SCH-015IU,2023-09-01,1451.0,1451.0,7933394.0,SCH-015IU,UI
3,S-36IUI,SCH-036IUI,2023-09-01,5248.0,5248.0,8738520.0,SCH-036IUI,UI
4,S-45BIUI,SCH-045BIUI,2023-09-01,6151.0,6151.0,7801290.0,SCH-045BIUI,UI

In [356]:
# Column to determine if the completion is producing
df_notas_iny['PRODUCCION'] = np.where(df_notas_iny['W [bwpd]'] > 0, 'SI', 'NO')
df_notas_iny.head()

,WELLBORE_ID,Completion,FECHA,WATER_INJ_VOL,W [bwpd],Wp [Bls],COMPLETION_LEGAL_NAME,RSVR_NAME,PRODUCCION
0,S-5IT,SCH-005IT,2023-09-01,0.0,NaN,8639658.0,SCH-005IT,TI,NO
1,S-5IU,SCH-005IU,2023-09-01,0.0,NaN,7594596.0,SCH-005IU,UI,NO
2,S-15IU,SCH-015IU,2023-09-01,1451.0,1451.0,7933394.0,SCH-015IU,UI,SI
3,S-36IUI,SCH-036IUI,2023-09-01,5248.0,5248.0,8738520.0,SCH-036IUI,UI,SI
4,S-45BIUI,SCH-045BIUI,2023-09-01,6151.0,6151.0,7801290.0,SCH-045BIUI,UI,SI

In [357]:
# Append the DataFrames
df_notas_2 = df_notas_prod[['WELLBORE_ID', 'Completion', 'FECHA', 'PRODUCCION', 'RSVR_NAME']].append(
                            df_notas_iny[['WELLBORE_ID', 'Completion', 'FECHA', 'PRODUCCION', 'RSVR_NAME']], ignore_index=True)

df_notas_2.head()

C:\Users\brand\AppData\Local\Temp\ipykernel_13680\4074555562.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_notas_2 = df_notas_prod[['WELLBORE_ID', 'Completion', 'FECHA', 'PRODUCCION', 'RSVR_NAME']].append(

  WELLBORE_ID  Completion      FECHA PRODUCCION RSVR_NAME
0      S-2BTI  SCH-002BTI 2023-06-30         NO        TI
1      S-2BUI  SCH-002BUI 2023-06-30         NO        UI
2       S-2TI   SCH-002TI 2023-06-30         NO        TI
3       S-2UI   SCH-002UI 2023-06-30         NO        UI
4       S-3TI   SCH-003TI 2023-06-30         NO        TI

In [358]:
# Compleations which don't have production or injection history
completions_not_found = [pozo for pozo in df_maestra['COMPLETION_LEGAL_NAME'].unique() if pozo not in df_notas_2['Completion'].unique()]
print(completions_not_found)

['SCH-007U', 'SCH-008U', 'SCH-009T', 'SCH-014T', 'SCH-017U', 'SCH-019U', 'SCH-023ITY', 'SCH-025U', 'SCH-026U', 'SCH-028T', 'SCH-029ITY', 'SCH-032T', 'SCH-037T', 'SCH-046U', 'SCH-051T', 'SCH-053U', 'SCH-056U', 'SCH-071U', 'SCH-072U', 'SCH-075U', 'SCH-077U', 'SCH-082U', 'SCH-084ITY', 'SCH-086ITY', 'SCH-088T', 'SCH-092U', 'SCH-093U', 'SCH-098U', 'SCH-102U', 'SCH-104U', 'SCH-113U', 'SCH-116T', 'SCH-117ITY', 'SCH-118U', 'SCH-133T', 'SCH-133U', 'SCH-134U', 'SCH-139T', 'SCH-157T', 'SCHA-001U', 'SCHAD-360U', 'SCHAD-361U', 'SCHAF-382U', 'SCHAM-541TI', 'SCHAQ-494UI', 'SCHI-067BU', 'SCHL-111T', 'SCHO-149T', 'SCHO-223U', 'SCHS-177TI', 'SCHS-177U', 'SCHS-263TI', 'SCHS-264U', 'SCHS-266T', 'SCHV-217U']

In [359]:
print(r'Number of completions in Maestra: {}'.format(df_maestra['COMPLETION_LEGAL_NAME'].nunique()))
print(r'Number of completions in production: {}'.format(df_mensual_Ui_Ti['UNIQUEID'].nunique()))
print(r'Number of completions in injection: {}'.format(df_iny_month['UNIQUEID'].nunique()))
print(r'Number of completions that dont have production or injection history: {}'.format(len(completions_not_found)))

Number of completions in Maestra: 565
Number of completions in production: 485
Number of completions in injection: 25
Number of completions that dont have production or injection history: 55

# ESTADOS CAPA

In [360]:
df_perf_original.head()

,WELLBORE,FECHA CAÑONEO,Top MD (ft),Btm MD (ft),RAZON,ESTATUS,ARENA,ARENA 2,WELLBORE_ID,COMPLETION_LEGAL_NAME,WELL_LEGAL_NAME,RSVR_NAME
0,SCH-003,1969-10-08,9730.0,9737.0,Producción,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
1,SCH-003,1969-10-08,9740.0,9746.0,Producción,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
2,SCH-003,1969-10-08,9750.0,9756.0,Producción,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
3,SCH-003,1994-12-17,9730.0,9737.0,Producción,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI
4,SCH-003,1994-12-17,9740.0,9746.0,Producción,OPEN,"ARENA ""T""",TI,S-3TI,SCH-003TI,SCH-003,TI

In [361]:
# Put in the desired format
# TODO: Check the change of the names of the ARENA 2
df_layer_status = df_perf_original[['WELLBORE', 'ARENA', 'ARENA 2', 'FECHA CAÑONEO', 'ESTATUS']].rename(
                columns={'ARENA 2': 'CAPA', 'FECHA CAÑONEO': 'FECHA', 'ESTATUS': 'ESTADO'})


# Merge with df_maestra to get the name of the completion
df_layer_status = pd.merge(df_layer_status, df_maestra[['WELLBORE_ID', 'WELL_LEGAL_NAME', 'COMPLETION_LEGAL_NAME', 'RSVR_NAME']],
                    left_on=['WELLBORE', 'CAPA'], right_on=['WELL_LEGAL_NAME', 'RSVR_NAME'], how = 'inner')

# Change the values of ESTADO column where OPEN is 1 and the others are 0
df_layer_status['ESTADO'] = np.where(df_layer_status['ESTADO'] == 'OPEN', 1, 0)

# keep just rows where the CAPA column is TI or UI
df_layer_status = df_layer_status[df_layer_status['CAPA'].isin(['TI', 'UI'])]

# TODO: Delete the rows with nan in COMPLETION_LEGAL_NAME column
# df_layer_status = df_layer_status[~df_layer_status['COMPLETION_LEGAL_NAME'].isnull()]

df_layer_status = df_layer_status[['WELLBORE_ID', 'COMPLETION_LEGAL_NAME', 'WELLBORE', 'ARENA', 'CAPA', 'FECHA', 'ESTADO']].rename(
                columns={'WELLBORE': 'IDENTIFICADOR'})

df_layer_status.head()

,WELLBORE_ID,COMPLETION_LEGAL_NAME,IDENTIFICADOR,ARENA,CAPA,FECHA,ESTADO
0,S-3TI,SCH-003TI,SCH-003,"ARENA ""T""",TI,1969-10-08,1
1,S-3TI,SCH-003TI,SCH-003,"ARENA ""T""",TI,1969-10-08,1
2,S-3TI,SCH-003TI,SCH-003,"ARENA ""T""",TI,1969-10-08,1
3,S-3TI,SCH-003TI,SCH-003,"ARENA ""T""",TI,1994-12-17,1
4,S-3TI,SCH-003TI,SCH-003,"ARENA ""T""",TI,1994-12-17,1

# INSTALACIONES

In [362]:
import pdfplumber
import re
from collections import namedtuple

In [363]:
# pdf_file = pdfplumber.open('2017_SCHP-188 WO# 08_ZS.pdf')

In [364]:
loc_colums = ['No', 'Jts', 'Tope MD', 'Tope TVD', 'Longitud', 'OD Nom', 'Descripción']

In [365]:
# with pdfplumber.open('2017_SCHP-188 WO# 08_ZS.pdf') as pdf:
#     data = pdf.pages[0].extract_tables()
#     # data = data[0][1:]
# data

# PRUEBAS DE PRODUCCIÓN

In [366]:
df_production_test.head()

,PTYPE,COMPLETION_LEGAL_NAME,TEST_DATE,T_HRS,TEST_OIL_24,TEST_GAS_24,TEST_WAT_24,GRAV_OIL API,BSW,CASING_PRESS,...,REMARKS,TEST_PURPOSE,INYECTION_PSI,PLANT_PSI,INJECTION_VOL,INJECTION_API,RETURN_VOL,RETURN_BSW,RETURN_API,VOL_REAL
0,COMP,SCH-002BTI,2015-01-02,5.0,110.0,0.0,2.0,27.4,1.786,0.0,...,Realizar prueba de 12 horas.,A,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1,COMP,SCH-002BTI,2015-01-05,5.0,145.0,0.0,3.0,27.4,2.027,0.0,...,None,A,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
2,COMP,SCH-002BTI,2015-01-15,5.0,145.0,0.0,3.0,27.4,2.027,0.0,...,None,A,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
3,COMP,SCH-002BTI,2015-01-20,5.0,122.0,0.0,3.0,27.4,2.400,0.0,...,None,A,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
4,COMP,SCH-002BTI,2015-01-25,5.0,120.0,0.0,2.0,27.4,1.639,0.0,...,None,A,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

In [367]:
df_production_test.columns

Index(['PTYPE', 'COMPLETION_LEGAL_NAME', 'TEST_DATE', 'T_HRS', 'TEST_OIL_24',
       'TEST_GAS_24', 'TEST_WAT_24', 'GRAV_OIL API', 'BSW', 'CASING_PRESS',
       'PBHP', 'TUBING_PRESS', 'PIP', 'FLAP', 'SBHP', 'GAS_SP_GRAVITIY',
       'TUBING_TMP', 'PI', 'AMPS_A', 'PUMP_TMP', 'MOTOR_HZ', 'POWER_KW',
       'STAGE_COUNT', 'VOLTAGE', 'INTAKE_DEPTH', 'PUMP_TYPE', 'SALINITY',
       'REMARKS', 'TEST_PURPOSE', 'INYECTION_PSI', 'PLANT_PSI',
       'INJECTION_VOL', 'INJECTION_API', 'RETURN_VOL', 'RETURN_BSW',
       'RETURN_API', 'VOL_REAL'],
      dtype='object')

In [368]:

# TODO: check the columns we need and their names

# select the columns we need
df_production_test = df_production_test[['COMPLETION_LEGAL_NAME', 'TEST_DATE', 'TEST_OIL_24', 'TEST_WAT_24', 'BSW', 'T_HRS',
                    'TEST_GAS_24', 'CASING_PRESS', 'INTAKE_DEPTH', 'MOTOR_HZ', 'PIP', 'AMPS_A', 'PUMP_TYPE', 'GRAV_OIL API']]

# rename columns
df_production_test.rename(columns={'COMPLETION_LEGAL_NAME': 'UNIQUEID', 'TEST_DATE': 'DATE',
                        'TEST_OIL_24': 'OIL_FLOW', 'TEST_WAT_24': 'WATER_FLOW', 'BSW': 'BSW', 'T_HRS': 'DURATION',
                        'TEST_GAS_24': 'GAS_FLOW', 'CASING_PRESS': 'CHP', 'INTAKE_DEPTH': 'PUMP_DEPTH', 'MOTOR_HZ': 'Frecuency',
                        'PIP': 'PIP', 'AMPS_A': 'Amperage', 'ALS': 'PUMP_TYPE', 'GRAV_OIL API': 'OIL_GRAVITY'}, inplace=True)

df_production_test.head()

,UNIQUEID,DATE,OIL_FLOW,WATER_FLOW,BSW,DURATION,GAS_FLOW,CHP,PUMP_DEPTH,Frecuency,PIP,Amperage,PUMP_TYPE,OIL_GRAVITY
0,SCH-002BTI,2015-01-02,110.0,2.0,1.786,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4
1,SCH-002BTI,2015-01-05,145.0,3.0,2.027,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4
2,SCH-002BTI,2015-01-15,145.0,3.0,2.027,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4
3,SCH-002BTI,2015-01-20,122.0,3.0,2.400,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4
4,SCH-002BTI,2015-01-25,120.0,2.0,1.639,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4

In [369]:
df_maestra.head(3)

,WELL_LEGAL_NAME,WELLBORE_ID,COMPLETION_COORDINATE_X,COMPLETION_COORDINATE_Y,COMPLETION_LEGAL_NAME,RSVR_NAME,FIELD,CURR_STATUS,POZO_ID
0,SCH-002B,S-2BTI,289935.82,9955795.32,SCH-002BTI,TI,SCHS,Cerrado,S-2B
1,SCH-002B,S-2BUI,289935.82,9955795.32,SCH-002BUI,UI,SCHS,Abandonado,S-2B
2,SCH-002,S-2TI,289933.07,9955780.98,SCH-002TI,TI,SCHS,Abandonado,S-2

In [370]:
# merge with df_maestra to get the name of the completion
df_production_test = pd.merge(df_production_test, df_maestra[['WELLBORE_ID', 'COMPLETION_LEGAL_NAME']],
                    left_on='UNIQUEID', right_on='COMPLETION_LEGAL_NAME', how = 'inner')

df_production_test.drop(['COMPLETION_LEGAL_NAME'], axis=1, inplace=True)

df_production_test = df_production_test[['WELLBORE_ID', 'UNIQUEID', 'DATE', 'OIL_FLOW', 'WATER_FLOW', 'BSW', 'DURATION', 'GAS_FLOW', 'CHP', 'PUMP_DEPTH', 'Frecuency', 'PIP', 'Amperage', 'PUMP_TYPE', 'OIL_GRAVITY']]

df_production_test.head()

,WELLBORE_ID,UNIQUEID,DATE,OIL_FLOW,WATER_FLOW,BSW,DURATION,GAS_FLOW,CHP,PUMP_DEPTH,Frecuency,PIP,Amperage,PUMP_TYPE,OIL_GRAVITY
0,S-2BTI,SCH-002BTI,2015-01-02,110.0,2.0,1.786,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4
1,S-2BTI,SCH-002BTI,2015-01-05,145.0,3.0,2.027,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4
2,S-2BTI,SCH-002BTI,2015-01-15,145.0,3.0,2.027,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4
3,S-2BTI,SCH-002BTI,2015-01-20,122.0,3.0,2.400,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4
4,S-2BTI,SCH-002BTI,2015-01-25,120.0,2.0,1.639,5.0,0.0,0.0,NaN,0.0,0.0,NaN,P23 SSD,27.4

In [371]:
df_production_test['UNIQUEID'].nunique()

258

# SURVEYS

In [372]:
#  Define a function to read the survey data
def read_survey(file):
    # Initialize a variable to store the well name
    well_name = None
    
    # Open the file and extract the well name
    with open(file, 'r') as f:
        for line in f:
            if "WELL NAME:" in line:
                well_name = line.split("WELL NAME:")[1].strip()
                break

    # Initialize a variable to count header rows
    header_rows = 0

    # Open the file and determine how many header rows there are
    with open(file, 'r') as f:
        for line in f:
            if line.startswith("#"):
                header_rows += 1
            else:
                break

    # Read the data from the file, skipping the header rows
    data = pd.read_csv(file, sep='\s+', skiprows=header_rows)

    # Add a 'well_name' column with the extracted well name
    data['well_name'] = well_name

    return data.iloc[1:]  # Return the data without the first 2 rows

In [373]:
# Create an empty list to store the DataFrames
survey_data = []

# Loop through the files and read each survey data file
for file in files:
    survey_data.append(read_survey(os.path.join(path_surveys, file)))

# Concatenate the DataFrames into a single DataFrame
df_surveys = pd.concat(survey_data)

df_surveys.head()

,MD,X,Y,Z,TVD,DX,DY,AZIM,INCL,DLS,well_name
1,-0.000000000,290807.1683,9.963504e+06,883.08400,-0.0,0.0,0.0,0.0,0.0,0.0,S-1
2,10158.500000,290807.1683,9.963504e+06,-9275.41600,10158.5,0.0,0.0,0.0,0.0,0.0,S-1
1,-0.000000000,294593.0000,9.967797e+06,897.00006,-0.0,0.0,0.0,0.0,0.0,0.0,S-10
2,9964.0000000,294593.0000,9.967797e+06,-9066.99994,9964.0,0.0,0.0,0.0,0.0,0.0,S-10
1,-0.000000000,290696.9883,9.959794e+06,884.20000,-0.0,0.0,0.0,0.0,0.0,0.0,S-100

In [374]:
# TODO: Select just surveys with the wells in the df_maestra DataFrame
df_surveys = pd.merge(df_surveys[['well_name', 'MD', 'TVD', 'DX', 'DY']], df_maestra[['POZO_ID']],
                    left_on='well_name', right_on='POZO_ID', how = 'inner')

In [375]:
# change the name of the columns to Wellbore	Md	TVD	XDelt	YDelt
df_surveys.rename(columns={'well_name':'Wellbore', 'MD':'Md', 'DX':'XDelt', 'DY':'YDelt'}, inplace=True)
df_surveys = df_surveys[['Wellbore', 'Md', 'TVD', 'XDelt', 'YDelt']]
df_surveys.head()

  Wellbore            Md     TVD  XDelt  YDelt
0    S-101  -0.000000000    -0.0    0.0    0.0
1    S-101  9859.0000000  9859.0    0.0    0.0
2    S-102  -0.000000000    -0.0    0.0    0.0
3    S-102  -0.000000000    -0.0    0.0    0.0
4    S-102  -0.000000000    -0.0    0.0    0.0

In [376]:
surveys_not_found = [pozo for pozo in df_maestra['WELLBORE_ID'].unique() if pozo not in df_surveys['Wellbore'].unique()]
print(surveys_not_found)

['S-2BTI', 'S-2BUI', 'S-2TI', 'S-2UI', 'S-3TI', 'S-3UI', 'S-5IT', 'S-5IU', 'S-5TI', 'S-5UI', 'S-6TI', 'S-6UI', 'S-7T', 'S-7U', 'S-7UI', 'S-8TI', 'S-8U', 'S-8UI', 'S-9T', 'S-9TI', 'S-11UI', 'S-12T', 'S-12TI', 'S-12UI', 'S-12US', 'S-14T', 'S-14TI', 'S-14UI', 'S-15IU', 'S-15UI', 'S-17TI', 'S-17U', 'S-17UI', 'S-18TI', 'S-18UI', 'S-19TI', 'S-19U', 'S-19UI', 'S-21TI', 'S-22TI', 'S-22UI', 'S-23ITY', 'S-23TI', 'S-23UI', 'S-24TI', 'S-24UI', 'S-25U', 'S-25UI', 'S-26U', 'S-26UI', 'S-27TI', 'S-27UI', 'S-28T', 'S-28TI', 'S-28UI', 'S-29ITY', 'S-29TI', 'S-29UI', 'S-30TI', 'S-31TI', 'S-31UI', 'S-32T', 'S-32TI', 'S-33TI', 'S-33UI', 'S-34T', 'S-34TI', 'S-34UI', 'S-35TI', 'S-35UI', 'S-36IUI', 'S-36UI', 'S-36US', 'S-37T', 'S-37TI', 'S-37UI', 'S-38TI', 'S-39TI', 'S-39UI', 'S-40TI', 'S-40UI', 'S-41UI', 'S-42TI', 'S-42UI', 'S-43TI', 'S-43UI', 'S-44TI', 'S-44UI', 'S-45BIUI', 'S-45BTI', 'S-46U', 'S-46UI', 'S-47TI', 'S-47UI', 'S-48IT', 'S-48IU', 'S-50TI', 'S-50UI', 'S-51T', 'S-51TI', 'S-51UI', 'S-52BUI', 'S-52UI', 'S-53U', 'S-53UI', 'S-54TI', 'S-54UI', 'S-55TI', 'S-55UI', 'S-56U', 'S-56UI', 'S-57UI', 'S-58UI', 'S-59TI', 'S-59UI', 'S-61TI', 'S-64TI', 'S-64UI', 'S-66BUI', 'S-66UI', 'S-68TI', 'S-68UI', 'S-70TI', 'S-70UI', 'S-71U', 'S-71UI', 'S-72TI', 'S-72U', 'S-72UI', 'S-74TI', 'S-74UI', 'S-75TI', 'S-75U', 'S-75UI', 'S-76IT', 'S-76IU', 'S-77U', 'S-77UI', 'S-78TI', 'S-78UI', 'S-80T', 'S-80TI', 'S-80UI', 'S-81UI', 'S-82U', 'S-82UI', 'S-83T', 'S-83UI', 'S-84ITY', 'S-84TI', 'S-84UI', 'S-85UI', 'S-86ITY', 'S-86UI', 'S-87TI', 'S-87UI', 'S-88T', 'S-88TI', 'S-89UI', 'S-90IU', 'S-90UI', 'S-91TI', 'S-92U', 'S-92UI', 'S-93TI', 'S-93U', 'S-93UI', 'S-95TI', 'S-97TI', 'S-97UI', 'S-98TI', 'S-98U', 'S-98UI', 'S-99TI', 'S-101U', 'S-102TI', 'S-102U', 'S-102UI', 'S-103IUI', 'S-103UI', 'S-104TI', 'S-104U', 'S-104UI', 'S-105IT', 'S-105IU', 'S-107TI', 'S-107UI', 'S-108T', 'S-109TI', 'S-109UI', 'S-110TI', 'S-110UI', 'S-110US', 'S-112UI', 'S-113U', 'S-113UI', 'S-116T', 'S-116TI', 'S-116UI', 'S-117ITY', 'S-117UI', 'S-118U', 'S-118UI', 'S-120T', 'S-120UI', 'S-121U', 'S-122TI', 'S-123UI', 'S-124UI', 'S-125TI', 'S-125UI', 'S-126UI', 'S-128UI', 'S-129U', 'S-130U', 'S-131T', 'S-132TI', 'S-132U', 'S-133R1UI', 'S-133T', 'S-133TI', 'S-133U', 'S-133UI', 'S-134U', 'S-134UI', 'S-137TI', 'S-137UI', 'S-138TI', 'S-138UI', 'S-139T', 'S-139TI', 'S-141TI', 'S-141UI', 'S-142TI', 'S-142UI', 'S-143UI', 'S-144TI', 'S-144UI', 'S-145TI', 'S-145UI', 'S-156UI', 'S-157T', 'S-157TI', 'S-157TS', 'S-159UI', 'S-162UI', 'S-167TI', 'S-182UI', 'S-184UI', 'S-185UI', 'S-186TI', 'S-186UI', 'S-299U', 'S-A001U', 'S-A001UI', 'S-A190TI', 'S-A190UI', 'S-A197UI', 'S-A225TI', 'S-A225UI', 'S-A409TI', 'S-A417UI', 'S-A418UI', 'S-AA300TI', 'S-AA301UI', 'S-AA302UI', 'S-AA303UI', 'S-AA304R1UI', 'S-AA304U', 'S-AA305UI', 'S-AB310UI', 'S-AB311TI', 'S-AB311UI', 'S-AB312TI', 'S-AB314UI', 'S-AB315IUI', 'S-AB315UI', 'S-AB316UI', 'S-AB317HUI', 'S-AB319UI', 'S-AB322TI', 'S-AB322UI', 'S-AB341TI', 'S-AB341UI', 'S-AC350TI', 'S-AC351TI', 'S-AC351UI', 'S-AC352R1UI', 'S-AC352UI', 'S-AC355TI', 'S-AC356UI', 'S-AC357TI', 'S-AC358UI', 'S-AC359TI', 'S-AC359UI', 'S-AD360U', 'S-AD360UI', 'S-AD361IUI', 'S-AD361U', 'S-AD361UI', 'S-AD363S1IUI', 'S-AD363S1UI', 'S-AD364UI', 'S-AD365UI', 'S-AE370UI', 'S-AE372TI', 'S-AE373HUI', 'S-AE374TI', 'S-AE375TI', 'S-AE375UI', 'S-AE376UI', 'S-AE377IUI', 'S-AE377UI', 'S-AE378TI', 'S-AF380UI', 'S-AF381UI', 'S-AF382IUI', 'S-AF382U', 'S-AF382UI', 'S-AF383HUI', 'S-AF384TI', 'S-AF384UI', 'S-AF385TI', 'S-AF386TI', 'S-AF386UI', 'S-AF387S1TI', 'S-AF387S1UI', 'S-AF489UI', 'S-AF499UI', 'S-AF519S1UI', 'S-AF529HTI', 'S-AF539HS1UI', 'S-AF549HTI', 'S-AF549HUI', 'S-AG392UI', 'S-AG393UI', 'S-AG394UI', 'S-AG395UI', 'S-AG396IUI', 'S-AG397S1UI', 'S-AG398UI', 'S-AH401TI', 'S-AH402TI', 'S-AH402UI', 'S-AH403TI', 'S-AH403UI', 'S-AH405TI', 'S-AH405UI', 'S-AH406TI', 'S-AI410TI', 'S-AI411TI', 'S-AI412HUI', 'S-AI413S1UI', 'S-AI414TI', 'S-AI415TI', 'S-AI415UI', 'S-AJ420TI', 'S-AJ421R1UI', 'S-AJ421TI', 'S-AJ421UI', 'S-AJ422TI', 'S-AJ422UI', 'S-AJ422US', 'S-AJ423TI', 'S-AJ424UI', 'S-AJ425UI', 'S-AJ427HTI', 'S-AJ428TI', 'S-AJ429TI', 'S-AJ589UI', 'S-AK430UI', 'S-AK431IUI', 'S-AK431UI', 'S-AK432UI', 'S-AK433UI', 'S-AL440UI', 'S-AL442UI', 'S-AL443TI', 'S-AL443UI', 'S-AL444TI', 'S-AL444UI', 'S-AL445UI', 'S-AL446S1UI', 'S-AL447T', 'S-AL448R1UI', 'S-AL448UI', 'S-AL449UI', 'S-AL579UI', 'S-AM453TI', 'S-AM455UI', 'S-AM458TI', 'S-AM541TI', 'S-AN460UI', 'S-AN461UI', 'S-AN462UI', 'S-AN463UI', 'S-AN464UI', 'S-AN465UI', 'S-AN466UI', 'S-AO470TI', 'S-AO470UI', 'S-AO471R1TI', 'S-AO471TI', 'S-AO472UI', 'S-AO473HS1UI', 'S-AO474TI', 'S-AO475HUI', 'S-AO476UI', 'S-AO477HUI', 'S-AO478HUI', 'S-AP269UI', 'S-AP279UI', 'S-AP480TI', 'S-AP481TI', 'S-AP482TI', 'S-AP482UI', 'S-AP483TI', 'S-AP483UI', 'S-AP484TI', 'S-AP484UI', 'S-AP485HS2TI', 'S-AP486TI', 'S-AP487UI', 'S-AP488HUI', 'S-AQ490UI', 'S-AQ491TI', 'S-AQ491UI', 'S-AQ492UI', 'S-AQ494UI', 'S-AQ495TI', 'S-AQ495UI', 'S-AQ497UI', 'S-AQ498TI', 'S-B004BUI', 'S-B168HTI', 'S-B178TI', 'S-B204TI', 'S-B235TI', 'S-B236TI', 'S-C010TI', 'S-C010UI', 'S-C140UI', 'S-D020TI', 'S-D020UI', 'S-D251UI', 'S-D253UI', 'S-D256TI', 'S-E049TI', 'S-E049UI', 'S-E166TI', 'S-E166UI', 'S-E205UI', 'S-E232ITI', 'S-E232TI', 'S-F060TI', 'S-F060UI', 'S-F246UI', 'S-F247TI', 'S-F248UI', 'S-G274UI', 'S-G275UI', 'S-G276TI', 'S-G276UI', 'S-G277U', 'S-G278UI', 'S-H231TI', 'S-H233TI', 'S-H237T', 'S-H259TI', 'S-H285UI', 'S-I067BIUI', 'S-I067BU', 'S-I067BUI', 'S-I067UI', 'S-I179HUI', 'S-I200IUI', 'S-J152UI', 'S-J173HUI', 'S-K100UI', 'S-K187UI', 'S-K195TI', 'S-K195UI', 'S-K196T', 'S-K196UI', 'S-K199UI', 'S-L111T', 'S-L111TI', 'S-L172UI', 'S-M333UI', 'S-M340ITI', 'S-N148S1UI', 'S-N148UI', 'S-N163S1TI', 'S-O149T', 'S-O149TI', 'S-O149U', 'S-O223U', 'S-O223UI', 'S-O224U', 'S-O254HS2UI', 'S-P151TI', 'S-P151UI', 'S-P153UI', 'S-P181TI', 'S-P181UI', 'S-P188TI', 'S-P188UI', 'S-Q215UI', 'S-Q216UI', 'S-Q469UI', 'S-R170TI', 'S-R174HS1UI', 'S-R175HTI', 'S-S177TI', 'S-S177TS', 'S-S177U', 'S-S177UI', 'S-S260UI', 'S-S261IUI', 'S-S261UI', 'S-S263TI', 'S-S263UI', 'S-S264U', 'S-S264UI', 'S-S265TI', 'S-S266T', 'S-S266TI', 'S-S287UI', 'S-S288UI', 'S-T150TI', 'S-T150UI', 'S-T169UI', 'S-T180TI', 'S-T229UI', 'S-T230TI', 'S-T230UI', 'S-U189UI', 'S-U207UI', 'S-U208UI', 'S-U209TI', 'S-U211HR1UI', 'S-U211HUI', 'S-U212UI', 'S-V192UI', 'S-V210UI', 'S-V214UI', 'S-V217U', 'S-V217UI', 'S-V240TI', 'S-V240UI', 'S-V241UI', 'S-V320TI', 'S-V321UI', 'S-W154TI', 'S-W155UI', 'S-W176TI', 'S-W267TI', 'S-W268R1UI', 'S-W268TI', 'S-X270U', 'S-X272TI', 'S-Y280U', 'S-Y281T', 'S-Y283UI', 'S-Z291US']

In [377]:
print(r'Number of surveys in Original file: {}'.format(len(survey_data)))
print(r'Number of wells in Maestra: {}'.format(df_maestra['WELLBORE_ID'].nunique()))
print(r'Number of wells from Maestra with surveys : {}'.format(df_surveys['Wellbore'].nunique()))
print(r'Number of wells from Maestra without surveys : {}'.format(len(surveys_not_found)))

Number of surveys in Original file: 424
Number of wells in Maestra: 565
Number of wells from Maestra with surveys : 128
Number of wells from Maestra without surveys : 565

# Datos Pozo-Capa

In [378]:
# Import the Excel files
excel_file_petro_2022 = r'C:\Users\brand\OneDrive - Universidad Central del Ecuador\Documentos\Maestría EOR\Tesis EOR\Info EPPEC\NUEVA INFORMACIÓN 06112023\Parámetros Petrofísicos pozos Sacha 2022.xlsx'
excel_file_petro_2020 = r'C:\Users\brand\OneDrive - Universidad Central del Ecuador\Documentos\Maestría EOR\Tesis EOR\Info EPPEC\NUEVA INFORMACIÓN 06112023\Parámetros Petrofísicos Sacha Dec 2020.xlsx'

# Read the Excel file into a DataFrame
df_petrophysical_2022 = pd.read_excel(excel_file_petro_2022, skiprows=1)
df_petrophysical_2020 = pd.read_excel(excel_file_petro_2020)

In [379]:
# Function to filter information
def petrophysical_processing(df_petrophysical: pd.DataFrame) -> pd.DataFrame:

    # Filter desired data
    df_petrophysical.drop(df_petrophysical[df_petrophysical['Flag Name'] == 'ROCK'].index, inplace=True)
    df_petrophysical.drop(df_petrophysical[(df_petrophysical['Zones'] != 'TLUS') & (df_petrophysical['Zones'] != 'TmTS')].index, inplace=True)
    df_petrophysical.head()

    # rename 'Zones' where injected water
    df_petrophysical['Zones'] = df_petrophysical['Zones'].replace({'TLUS': 'UI', 'TmTS': 'TI'})

    # Filter the rows with Flag Name = PAY
    df_pay = df_petrophysical.loc[df_petrophysical['Flag Name'] == 'PAY'].copy()

    # Make a filter in df_petrophysical to select rows that have the same 'Well' and 'Zones' values as df_pay
    df_res = df_petrophysical.loc[(df_petrophysical['Flag Name'] == 'RES') & (
                                    df_petrophysical['Well'].isin(df_pay['Well'])) & (
                                    df_petrophysical['Zones'].isin(df_pay['Zones']))]

    # Add to df_pay the value of Net Reservoir to df_pay
    df_pay['Gross_RES'] = df_res['Net'].values

    # Put in the desired format
    df_pay = df_pay[['Well', 'Zones', 'Gross_RES', 'Net', 'Gross', 'Av_Porosity', 'Top', 'Bottom', 'Av_PA_K', 'Av_Water Saturation']].rename(
                                    columns={'Well':'WELLBORE', 'Zones': 'CAPA', 'Net': 'ESPESOR_UTIL',
                                            'Gross_RES': 'ESPESOR_PERMEABLE', 'Gross': 'ESPESOR_TOTAL', 'Av_Porosity': 'POROSIDAD',
                                            'Top': 'TOPE_DE_CAPA', 'Bottom': 'BASE_DE_CAPA', 'Av_PA_K': 'PERMEABILIDAD_EN_X', 'Av_Water Saturation': 'Sw'})
    
    return df_pay

In [380]:
# Preprocessing the data in order to have the desired format and data
df_pay_2022 = petrophysical_processing(df_petrophysical_2022)
df_pay_2020 = petrophysical_processing(df_petrophysical_2020)

In [381]:
# Perform an inner merge on df_pay_2022 and df_pay_2020 to find matching rows
df_resultado = pd.merge(df_pay_2022, df_pay_2020[['WELLBORE', 'CAPA']], how='inner', on=['WELLBORE', 'CAPA'])

# Perform a left merge on df_pay_2020 and df_resultado and add an indicator column
df_pay_2020 = pd.merge(df_pay_2020, df_resultado[['WELLBORE', 'CAPA']], how='left', on=['WELLBORE', 'CAPA'], indicator=True)

# Filter out the rows where the indicator column is 'both'
df_pay_2020 = df_pay_2020[df_pay_2020['_merge'] != 'both']

# Drop the indicator column
df_pay_2020 = df_pay_2020.drop(columns=['_merge'])

# Concatenate df_pay_2022 and df_pay_2020
df_petrophysical = pd.concat([df_pay_2022, df_pay_2020], ignore_index=True, sort=False)

# Add the column 'So' which is 'Sw' - 1
df_petrophysical['So'] = 1 - df_petrophysical['Sw']

df_petrophysical.head()

,WELLBORE,CAPA,ESPESOR_PERMEABLE,ESPESOR_UTIL,ESPESOR_TOTAL,POROSIDAD,TOPE_DE_CAPA,BASE_DE_CAPA,PERMEABILIDAD_EN_X,Sw,So
0,SCHW-268R1,UI,23.054,23.054,52.942,0.149,9823.044,9875.986,464.303,0.131,0.869
1,SCHW-268R1,TI,30.570,29.568,109.500,0.127,10019.000,10128.500,260.500,0.350,0.650
2,SCHAI-415,UI,27.047,26.546,30.421,0.134,9793.579,9824.000,266.673,0.154,0.846
3,SCHAI-415,TI,24.042,24.042,60.062,0.146,10014.940,10075.000,440.430,0.253,0.747
4,SCHAI-413S1,UI,26.960,26.960,43.888,0.112,9786.162,9830.050,135.450,0.166,0.834

In [382]:
# Creta a copy of the df_wells_merge DataFrame
df_maestra_temp = df_maestra[['WELL_LEGAL_NAME', 'WELLBORE_ID', 'RSVR_NAME', 'COMPLETION_LEGAL_NAME']].copy()

df_maestra_temp.head()

  WELL_LEGAL_NAME WELLBORE_ID RSVR_NAME COMPLETION_LEGAL_NAME
0        SCH-002B      S-2BTI        TI            SCH-002BTI
1        SCH-002B      S-2BUI        UI            SCH-002BUI
2         SCH-002       S-2TI        TI             SCH-002TI
3         SCH-002       S-2UI        UI             SCH-002UI
4         SCH-003       S-3TI        TI             SCH-003TI

In [383]:
# Merge tro columns to find the name of the completion
df_petrophysical = pd.merge(df_petrophysical, df_maestra_temp[['WELLBORE_ID', 'WELL_LEGAL_NAME', 'COMPLETION_LEGAL_NAME', 'RSVR_NAME']],
                    left_on=['WELLBORE', 'CAPA'], right_on=['WELL_LEGAL_NAME', 'RSVR_NAME'], how = 'left')
df_petrophysical = df_petrophysical[['WELLBORE_ID', 'COMPLETION_LEGAL_NAME', 'WELLBORE', 'CAPA', 'ESPESOR_UTIL', 'ESPESOR_PERMEABLE',
                                    'ESPESOR_TOTAL', 'POROSIDAD', 'TOPE_DE_CAPA', 'BASE_DE_CAPA', 'PERMEABILIDAD_EN_X', 'Sw', 'So']].rename(
                                    columns={'COMPLETION_LEGAL_NAME': 'IDENTIFICADOR'})

# Filter to select just layers with ESPESOR_UTIL <= 100
df_petrophysical = df_petrophysical[df_petrophysical['ESPESOR_UTIL'] <= 100]

df_petrophysical.head()

,WELLBORE_ID,IDENTIFICADOR,WELLBORE,CAPA,ESPESOR_UTIL,ESPESOR_PERMEABLE,ESPESOR_TOTAL,POROSIDAD,TOPE_DE_CAPA,BASE_DE_CAPA,PERMEABILIDAD_EN_X,Sw,So
0,S-W268R1UI,SCHW-268R1UI,SCHW-268R1,UI,23.054,23.054,52.942,0.149,9823.044,9875.986,464.303,0.131,0.869
1,NaN,NaN,SCHW-268R1,TI,29.568,30.570,109.500,0.127,10019.000,10128.500,260.500,0.350,0.650
2,S-AI415UI,SCHAI-415UI,SCHAI-415,UI,26.546,27.047,30.421,0.134,9793.579,9824.000,266.673,0.154,0.846
3,S-AI415TI,SCHAI-415TI,SCHAI-415,TI,24.042,24.042,60.062,0.146,10014.940,10075.000,440.430,0.253,0.747
4,S-AI413S1UI,SCHAI-413S1UI,SCHAI-413S1,UI,26.960,26.960,43.888,0.112,9786.162,9830.050,135.450,0.166,0.834

In [384]:
# Assign the name of the well to the column 'IDENTIFICADOR' and 'WELLBORE_ID where is null
df_petrophysical.loc[df_petrophysical['IDENTIFICADOR'].isnull(), 'IDENTIFICADOR'] = df_petrophysical['WELLBORE'] + df_petrophysical['CAPA']

# Apply just where WELLBORE_ID is null
df_petrophysical.loc[df_petrophysical['WELLBORE_ID'].isnull(), 'WELLBORE_ID'] = df_petrophysical['WELLBORE'].str.replace('-', '')

df_petrophysical['WELLBORE_ID'] = df_petrophysical['WELLBORE_ID'].str.replace('SCH', 'S-')

df_petrophysical['WELLBORE_ID'] = df_petrophysical['WELLBORE_ID'].replace(['-00', '-0'], '-', regex=True)

df_petrophysical.head()

,WELLBORE_ID,IDENTIFICADOR,WELLBORE,CAPA,ESPESOR_UTIL,ESPESOR_PERMEABLE,ESPESOR_TOTAL,POROSIDAD,TOPE_DE_CAPA,BASE_DE_CAPA,PERMEABILIDAD_EN_X,Sw,So
0,S-W268R1UI,SCHW-268R1UI,SCHW-268R1,UI,23.054,23.054,52.942,0.149,9823.044,9875.986,464.303,0.131,0.869
1,S-W268R1,SCHW-268R1TI,SCHW-268R1,TI,29.568,30.570,109.500,0.127,10019.000,10128.500,260.500,0.350,0.650
2,S-AI415UI,SCHAI-415UI,SCHAI-415,UI,26.546,27.047,30.421,0.134,9793.579,9824.000,266.673,0.154,0.846
3,S-AI415TI,SCHAI-415TI,SCHAI-415,TI,24.042,24.042,60.062,0.146,10014.940,10075.000,440.430,0.253,0.747
4,S-AI413S1UI,SCHAI-413S1UI,SCHAI-413S1,UI,26.960,26.960,43.888,0.112,9786.162,9830.050,135.450,0.166,0.834

# CAPAS

In [385]:
# The scope of this project is Ti and Ui layers
df_capas = pd.DataFrame({'Formación': ['T', 'U'],
                        'Capa': ['TI', 'UI']
                        })
df_capas

  Formación Capa
0         T   TI
1         U   UI

# CONVERSIONES

In [386]:
# Generate a copy of the dfs
df_mensual_Ui_Ti_temp = df_mensual_Ui_Ti.copy()
df_iny_month_temp = df_iny_month.copy()

# Add the column 'ESTADO' of each dataframe
df_mensual_Ui_Ti_temp = df_mensual_Ui_Ti_temp.assign(ESTADO='Productor')
df_iny_month_temp = df_iny_month_temp.assign(ESTADO='Inyector')

# Put in the desired format and append the dataframes
df_conversions = df_mensual_Ui_Ti_temp[['UNIQUEID', 'Date', 'ESTADO']].append(df_iny_month_temp[['UNIQUEID', 'Date', 'ESTADO']], ignore_index=True)
df_conversions.head()

C:\Users\brand\AppData\Local\Temp\ipykernel_13680\3185274696.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_conversions = df_mensual_Ui_Ti_temp[['UNIQUEID', 'Date', 'ESTADO']].append(df_iny_month_temp[['UNIQUEID', 'Date', 'ESTADO']], ignore_index=True)

     UNIQUEID       Date     ESTADO
0  SCH-002BTI 2007-11-30  Productor
1  SCH-002BTI 2007-12-31  Productor
2  SCH-002BTI 2008-01-31  Productor
3  SCH-002BTI 2008-02-29  Productor
4  SCH-002BTI 2008-03-31  Productor

In [387]:
# delite the rows with nan
df_conversions = df_conversions[~df_conversions['UNIQUEID'].isnull()]

df_conversions.isna().sum()

UNIQUEID    0
Date        0
ESTADO      0
dtype: int64

In [388]:
Inject_names = df_iny_month_temp['UNIQUEID'].unique()

# with regex extract the well from compleation name
initials = [re.match(r"\D+\d+", codigo)[0] for codigo in Inject_names]

# Create a dictionary with the initials as keys and the wells as values
dict_wells = {inicial: df_conversions[df_conversions['UNIQUEID'].str.startswith(inicial)]['UNIQUEID'].unique() for inicial in initials}

for key, value in dict_wells.items():
    print(key, value)

SCH-005 ['SCH-005TI' 'SCH-005UI' 'SCH-005IT' 'SCH-005IU']
SCH-015 ['SCH-015UI' 'SCH-015IU']
SCH-036 ['SCH-036UI' 'SCH-036US' 'SCH-036IUI']
SCH-045 ['SCH-045BTI' 'SCH-045BIUI']
SCH-048 ['SCH-048IT' 'SCH-048IU']
SCH-076 ['SCH-076IT' 'SCH-076IU']
SCH-090 ['SCH-090UI' 'SCH-090IU']
SCH-103 ['SCH-103UI' 'SCH-103IUI']
SCH-105 ['SCH-105IT' 'SCH-105IU']
SCHAB-315 ['SCHAB-315UI' 'SCHAB-315IUI']
SCHAD-361 ['SCHAD-361UI' 'SCHAD-361IUI']
SCHAD-363 ['SCHAD-363S1UI' 'SCHAD-363S1IUI']
SCHAE-377 ['SCHAE-377UI' 'SCHAE-377IUI']
SCHAF-382 ['SCHAF-382UI' 'SCHAF-382IUI']
SCHAG-396 ['SCHAG-396IUI']
SCHAK-431 ['SCHAK-431UI' 'SCHAK-431IUI']
SCHE-232 ['SCHE-232TI' 'SCHE-232ITI']
SCHI-067 ['SCHI-067BUI' 'SCHI-067UI' 'SCHI-067BIUI']
SCHI-200 ['SCHI-200IUI']
SCHM-340 ['SCHM-340ITI']
SCHS-261 ['SCHS-261UI' 'SCHS-261IUI']

In [389]:
# Extract the values of the dictionary
list_values_dict = list(np.concatenate(list(dict_wells.values())))

# Filter the dataframe with the values of the dictionary
df_filtrado = df_mensual_Ui_Ti_temp[(df_mensual_Ui_Ti_temp['UNIQUEID'].isin(list_values_dict)) & (
                                    df_mensual_Ui_Ti_temp['OILP'] != 0) & (df_mensual_Ui_Ti_temp['OILP'].notna())]

# Obtaining the last month of production for each well
resultado = df_filtrado.groupby('UNIQUEID')['Date'].idxmax()

# Select the rows corresponding to the last month of each well
df_conversions_prod = df_mensual_Ui_Ti_temp.loc[resultado].reset_index(drop=True)

# Merge with df_sc to obtain the reservoir name
df_conversions_prod = pd.merge(df_conversions_prod[['UNIQUEID',	'Date', 'ESTADO']], df_maestra[['WELLBORE_ID','COMPLETION_LEGAL_NAME', 'RSVR_NAME']],
                    left_on='UNIQUEID', right_on='COMPLETION_LEGAL_NAME', how = 'inner')

df_conversions_prod.rename(columns={'RSVR_NAME': 'CAPA'}, inplace=True)

# Imprimimos la tabla
df_conversions_prod.head()

    UNIQUEID       Date     ESTADO WELLBORE_ID COMPLETION_LEGAL_NAME CAPA
0  SCH-005TI 1986-09-30  Productor       S-5TI             SCH-005TI   TI
1  SCH-005UI 1986-09-30  Productor       S-5UI             SCH-005UI   UI
2  SCH-015UI 1980-12-31  Productor      S-15UI             SCH-015UI   UI
3  SCH-036UI 2016-02-29  Productor      S-36UI             SCH-036UI   UI
4  SCH-036US 1972-09-30  Productor      S-36US             SCH-036US   UI

In [390]:
# Filter the dataframe with the values of the dictionary
df_filtrado = df_iny_month_temp[(df_iny_month_temp['UNIQUEID'].isin(list_values_dict)) & (df_iny_month_temp['WATER_INJ_VOL'] != 0) & (
                                df_iny_month_temp['WATER_INJ_VOL'].notna())]

# Obtaining the last month of injection for each well
resultado = df_filtrado.groupby('UNIQUEID')['Date'].idxmin()

# Select the rows corresponding to the last month of each well
df_conversions_iny = df_iny_month_temp.loc[resultado].reset_index(drop=True)

df_conversions_iny.head()

,WELLBORE_ID,UNIQUEID,Date,WATER_INJ_VOL,WATER_INJ_AVG,DAYS,Pia,Pia_Days,WHP,CAPA,INJ_TYPE,WATER_INJ_.CUM,ESTADO
0,S-5IT,SCH-005IT,2009-11-01,128971.0,4299.033,30.0,0.0,0,NaN,TI,water,128971.0,Inyector
1,S-5IU,SCH-005IU,2009-11-01,49518.0,1650.600,30.0,0.0,0,NaN,UI,water,49518.0,Inyector
2,S-15IU,SCH-015IU,2009-11-01,52439.0,1747.967,30.0,0.0,0,NaN,UI,water,52439.0,Inyector
3,S-36IUI,SCH-036IUI,2019-01-16,70925.0,4432.812,16.0,9900.0,9,1100.0,UI,water,70925.0,Inyector
4,S-45BIUI,SCH-045BIUI,2019-02-01,21740.0,3105.714,7.0,400.0,2,200.0,UI,water,21740.0,Inyector

In [391]:
df_conversions = df_conversions_iny[['WELLBORE_ID', 'UNIQUEID', 'CAPA', 'Date', 'ESTADO']].append(df_conversions_prod[
                ['WELLBORE_ID', 'UNIQUEID', 'CAPA', 'Date', 'ESTADO']], ignore_index=True).rename(columns={'UNIQUEID': 'IDENTIFICADOR', 'Date': 'FECHA'})
df_conversions.head()

C:\Users\brand\AppData\Local\Temp\ipykernel_13680\4147984158.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_conversions = df_conversions_iny[['WELLBORE_ID', 'UNIQUEID', 'CAPA', 'Date', 'ESTADO']].append(df_conversions_prod[

  WELLBORE_ID IDENTIFICADOR CAPA      FECHA    ESTADO
0       S-5IT     SCH-005IT   TI 2009-11-01  Inyector
1       S-5IU     SCH-005IU   UI 2009-11-01  Inyector
2      S-15IU     SCH-015IU   UI 2009-11-01  Inyector
3     S-36IUI    SCH-036IUI   UI 2019-01-16  Inyector
4    S-45BIUI   SCH-045BIUI   UI 2019-02-01  Inyector

# PORCENTAJES DE INYECCIÓN

In [392]:
df_iny_month.head()

,WELLBORE_ID,UNIQUEID,Date,WATER_INJ_VOL,WATER_INJ_AVG,DAYS,Pia,Pia_Days,WHP,CAPA,INJ_TYPE,WATER_INJ_.CUM
0,S-5IT,SCH-005IT,2009-03-01,0.0,0.000,31.0,0.0,0,NaN,TI,water,0.0
1,S-5IT,SCH-005IT,2009-07-01,0.0,0.000,31.0,0.0,0,NaN,TI,water,0.0
2,S-5IT,SCH-005IT,2009-09-01,0.0,0.000,30.0,0.0,0,NaN,TI,water,0.0
3,S-5IT,SCH-005IT,2009-11-01,128971.0,4299.033,30.0,0.0,0,NaN,TI,water,128971.0
4,S-5IT,SCH-005IT,2009-12-01,134078.0,4325.097,31.0,0.0,0,NaN,TI,water,263049.0

In [393]:
df_iny_month['CAPA'].unique()

array(['TI', 'UI'], dtype=object)

In [394]:
# Create dummy variables for the column CAPA
df_dummies = pd.get_dummies(df_iny_month['CAPA'])

# Concatenate the DataFrame with the dummy variables
df_percentage = pd.concat([df_iny_month, df_dummies], axis=1)

# Assign 1 to the wells that have water injection or 0 if not
for capa in df_dummies.columns:
    df_percentage.loc[df_percentage['WATER_INJ_VOL'] > 0, capa] = df_percentage.loc[df_percentage['WATER_INJ_VOL'] > 0, capa].apply(lambda x: 1 if x == 1 else 0)
    df_percentage.loc[(df_percentage['WATER_INJ_VOL'] <= 0) | (df_percentage['WATER_INJ_VOL'].isnull()), capa] = 0

# Delete the rows with all values equal to zero
df_percentage = df_percentage.loc[(df_percentage[df_dummies.columns] != 0).any(axis=1)][['WELLBORE_ID', 'UNIQUEID', 'Date', 'TI', 'UI']]

df_percentage.head()

  WELLBORE_ID   UNIQUEID       Date  TI  UI
3       S-5IT  SCH-005IT 2009-11-01   1   0
4       S-5IT  SCH-005IT 2009-12-01   1   0
5       S-5IT  SCH-005IT 2010-01-01   1   0
6       S-5IT  SCH-005IT 2010-02-01   1   0
7       S-5IT  SCH-005IT 2010-03-01   1   0

# SAVE FILTERED DATA

In [395]:
# Save dataframes to Excel file
with pd.ExcelWriter('Data_draft.xlsx') as writer:
    df_maestra.to_excel(writer, sheet_name='Maestra', index=False)
    df_well_compleation.to_excel(writer, sheet_name='Pozos-Completaciones', index=False)
    df_wells.to_excel(writer, sheet_name='Pozos', index=False)
    df_surveys.to_excel(writer, sheet_name='Trayectorias', index=False)
    df_perf.to_excel(writer, sheet_name='Perforados', index=False)
    df_eventos.to_excel(writer, sheet_name='Notas', index=False)
    df_mensual_Ui_Ti.to_excel(writer, sheet_name='Producción Mensual', index=False)
    df_iny_month.to_excel(writer, sheet_name='Inyección Mensual OFM', index=False)
    # df_iny_month_OFM.to_excel(writer, sheet_name='Inyección Mensual Formato OFM', index=False)
    df_production_test.to_excel(writer, sheet_name='Pruebas de Producción', index=False)
    df_iny_diaria.to_excel(writer, sheet_name='Inyección Diaria OFM', index=False)
    df_capas.to_excel(writer, sheet_name='Capas', index=False)
    df_petrophysical.to_excel(writer, sheet_name='Datos Pozo-Capa', index=False)
    df_layer_status.to_excel(writer, sheet_name='Estado de Capa', index=False)
    df_conversions.to_excel(writer, sheet_name='Conversiones', index=False)
    df_percentage.to_excel(writer, sheet_name='Porcentajes de Inyección', index=False)
    df_notas_2.to_excel(writer, sheet_name='Completaciones Activas', index=False)

# ACUMULADOS

In [396]:
# amount of unique wells
unique_wells = list(merged_df['WELLBORE_ID'].unique())

In [397]:
def Accum_by_sand(sand):
    # Crear una lista para almacenar los resultados
    results = []

    # Iterar a través de los nombres de pozos en unique_wells
    for well_name in unique_wells:
        # Filtrar el DataFrame por 'RSVR_NAME' igual a 'Lower T Sandstone'
        filtered_df = merged_df[(merged_df['WELLBORE_ID'] == well_name) & (merged_df['RSVR_NAME'] == sand)]
        
        # Calcular la suma de 'OILP' para el pozo actual
        accum_oil = filtered_df['OILP'].sum()
        
        # Agregar el resultado a la lista de resultados
        results.append([well_name, accum_oil])

    # Crear un DataFrame a partir de la lista de resultados
    result_df = pd.DataFrame(results, columns=['Well_name', 'Accum_oil'])

    return result_df

In [398]:
# Accum_T_Low = Accum_by_sand('LOWER T')
# Accum_T_Low.head()

In [399]:
# Accum_U_Low = Accum_by_sand('LOWER U')
# Accum_U_Low.head()